.white-two-column {
  color: @black;
  font-weight: 300;
  line-height: 1.5;

  @media screen and (min-width: @large-phone) {
    display: flex;
    flex-direction: row-reverse;
  }

  a {
    color: @blue-850;
    font-weight: bold;
    text-decoration: none;
    &:hover, &:active {
      text-decoration: underline;
    }
  }

  h1 {
    color: @blue-850;
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 1em;
  }

  .petition-box {
    background-color: @blue-800;
    color: @white;
    margin: 2.5rem auto;
    padding: 1.5rem;
  }

  blockquote {
    margin-bottom: 2.5rem;
  }

  .expand-text {
    background-color: transparent;
    border: none;
    color: @blue-850;
    cursor: pointer;
    display: block;
    font-size: 1.8rem;
    font-weight: 400;
    height: 1.5em;
    text-align: center;
    width: 100%;
    &:hover {
      font-weight: bold;
    }
  }

  .expanded-text {
    height: 0;
    overflow: hidden;
  }
}

.heart-progress-outer() {
  background-color: @blue-850;
  border-radius: 0.4rem;
}

.heart-progress-inner() {
  background-color: @heart;
  border-radius: 0.6rem;
}

.signatures {
  max-width: 34rem;
  progress {
    background-color: @blue-850;
    border-radius: 0.4rem;
    overflow: hidden;
    padding: 0.3rem;
    vertical-align: middle;
    width: 100%;
    &::-webkit-progress-value {
      .heart-progress-inner();
    }
    &::-moz-progress-bar {
      .heart-progress-inner();
    }
    &::-ms-fill {
      .heart-progress-inner();
    }
    &::-webkit-progress-bar {
      .heart-progress-outer();
    }
  }

  .progress-top {

  }

  .progress-bottom {
    text-align: right;
  }

  figcaption {
    font-size: 1.4rem;
    font-style: italic;
  }
}
