<footer class="an-style-1">
  <div class="an-footer-logo-1">
    <h2>
      Fight for the Future
    </h2>
  </div>
  <div class="an-footer-info">
    <p>
      For press inquiries, please contact us at:<br/>
      <a href="tel:+1-978-852-6457">978-852-6457</a>
      or <a href="tel:+1-617-690-9547">617-690-9547</a>
      or <a href="mailto:press@fightforthefuture.org">press@fightforthefuture.org</a>
    </p>
    <p>
      For all other inquiries, contact:<br/>
      <a href="mailto:team@fightforthefuture.org">team@fightforthefuture.org</a>
    </p>
  </div>
</footer>
