{% capture tweet %}
{% if page.tweet %}
{{ page.tweet }}
{% else %}
{{ site.tweet }}
{% endif %}
{% endcapture %}
<section class="share-this-button-links">
  <a class="share-this-fb" href="https://facebook.com/sharer.php?u={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}">
    Share this
  </a>
  <a class="share-this-tw" href="https://twitter.com/share?text={{ tweet | strip_newlines | strip | cgi_escape }}&amp;url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}">
    Tweet this
  </a>
  <a class="share-this-donate" href="https://donate.fightforthefuture.org/?utm_source=share-this-buttons&amp;utm_medium=web&amp;utm_campaign={{ page.title | slugify }}">
    Donate $5
  </a>
</section>
