<div class="tweets">
  <a class="twitter-timeline"  href="https://twitter.com/fightfortheftr" data-widget-id="697925048380817410" data-tweet-limit="3" data-chrome="noheader nofooter noborders transparent">Tweets by @fightfortheftr</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
