<footer id="fftf-footer">
  <div class="copy">
    <dl>
      <dt><strong>Press inquiries:</strong></dt>
      <dd>
        <a href="mailto:press@fightforthefuture.org">
          press@fightforthefuture.org
        </a><br>
        <a href="tel:+15083683026">
          +1 508 368-3026
        </a>
      </dd>
      <dt><strong>Other inquiries:</strong></dt>
      <dd>
        <a href="mailto:team@fightforthefuture.org">team@fightforthefuture.org</a>
      </dd>
    </dl>
    <p>
      This is a project of
      <a href="https://fightforthefuture.org" target="_blank">
        Fight for the Future</a>. No copyright intended.
    </p>

    <ul class="inline piped">
      <li><a href="https://www.fightforthefuture.org/privacy">Privacy policy</a>
      </li>
      <li><a href="https://www.privateinternetaccess.com/pages/buy-vpn/fftfsp">Buy
        a VPN</a></li>
      <li><a href="https://donate.fightforthefuture.org/">Donate</a></li>
    </ul>

    <a href="https://www.fightforthefuture.org" target="_blank">
      <img src="/images/fftf-footer-logo.png" class="footer-logo">
    </a>
  </div>
</footer>
