<footer>
  <div class="gutter">
    <a href="/"><img src="/homepage/images/fight-for-the-future-943px.png"/></a>
      <div class="sharea">
        <span>Follow us:</span>
        <button class="facebook">Facebook</button>
        <button class="twitter">Twitter</button>
      </div>
    <hr/>
    <nav>
      <ul>
        <li><a href="https://donate.fightforthefuture.org"><strong>Donate</strong></a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/press">Press</a></li>
        <li><a href="https://shop.fightforthefuture.org">Shop</a></li>
        <li><a href="https://donate.fightforthefuture.org/membership"><strong>Membership</strong></a></li>
        <li><a href="/">Campaigns</a></li>
        <li><a href="/supporters">Supporters</a></li>
        <li><a href="/jobs">Jobs</a></li>
        <li><a href="/aboutus">About Us</a></li>
        <li><a href="https://drive.google.com/folderview?id=0Bz22uTps2Ng3fjNIR3E3Mi1IQzQzSFF1V3VlemFpUlk3eEZfUlRlWDZ0MjBlcDZCMjVVTmc&usp=sharing">Financial Statements</a></li>
        <li><a href="https://www.privateinternetaccess.com/pages/buy-vpn/fftfsp"><strong>Buy a VPN</strong></a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
  <div class="dark">
    <div class="gutter">
      <p class="copyright">No copyright intended.</p>
      <p>
        For press inquiries, please call <a href="tel://15083683026">(508) 368-3026</a> or email
        <a href="mailto:press@fightforthefuture.org">press@fightforthefuture.org</a> (press inquiries only)
        <br/>
        For all other inquiries, please email <a href="mailto:team@fightforthefuture.org">team@fightforthefuture.org</a>
        |
        PO Box 55071 #95005 Boston, MA 02205
      </p>
    </div>
  </div>
</footer>
