<nav class="footer-topper">
  <div class="footer-topper-links">
    <a href="/aboutus/#team">Who we are</a>
    <a href="/press">Press</a>
    <a href="/jobs">Jobs</a>
  </div>
  <div class="footer-topper-social">
    <span class="oleo">Follow us!</span>
    <a class="follow-us-icon fb" href="https://www.facebook.com/fightfortheftr">
      Follow us on Facebook
    </a>
    <a class="follow-us-icon tw" href="http://twitter.com/fightfortheftr">
      Follow us on Twitter
    </a>
  </div>
</nav>
