<header>
  <div>
    <a href="/"><h1>Fight for the Future</h1></a>
    <button class="hamburgler" onclick="if(this.className.indexOf('focused')==-1){this.className='hamburgler focused';document.getElementById('topnav').className='visible';}else{this.className='hamburgler';document.getElementById('topnav').className='';}">Navigation</button>
    <nav id="topnav">
      <ul>
        <li><a href="/aboutus">About us</a></li>
        <li><a href="/#projects">Projects</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/supporters">Supporters</a></li>
        <li><a href="https://shop.fightforthefuture.org">Shop</a></li>
      </ul>
    </nav>
    <a href="https://donate.fightforthefuture.org" class="donate">Donate</a>
    <hr/>
    <button class="share facebook">Share on Facebook</button>
    <button class="share twitter">Share on Twitter</button>
  </div>
</header>
