{% if page.share_image contains 'http' %}
  {% assign share_img = page.share_image | uri_escape %}
{% else %}
  {% assign share_img = site.url | append: page.share_image | uri_escape %}
{% endif %}

{% assign dims = page.share_image_dims | split: " × " %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">

<script src="https://use.typekit.net/ldp0oqv.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<title>{{ page.search_title | default: page.headline | default: page.title }}</title>
<meta name="description" content="{{ page.search_description | default: page.description | default: site.description }}">

<!-- *** social meta *** -->
<!-- facebook -->
<meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="{{ share_img }}"/>
<meta property="og:image:width" content="{{ dims[0] }}"/>
<meta property="og:image:height" content="{{ dims[1] }}"/>
<meta property="og:site_name" content="{{ site.name }}"/>
<meta property="og:locale" content="en_US"/>
<meta property="og:locale:alternate" content="en_GB"/>
<meta property="og:title" content="{{ page.social_title | default: page.title }}"/>
<meta property="og:description" content="{{ page.social_description | default: page.description | default: site.description }}"/>

<!-- twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ site.author.twitter }}">
<meta name="twitter:title" content="{{ page.social_title | default: page.title }}">
<meta name="twitter:description" content="{{ page.social_description | default: page.description | default: site.description }}"/>
<meta name="twitter:domain" content="{{ site.url | remove:'http://' | remove:'https://' }}">
<meta name="twitter:account_id" content="{{ site.author.twitterid }}"/>
<meta name="twitter:text" content="{{ page.twittertext | default: site.tweet }}" />
<meta name="twitter:image" content="{{ share_img }}">

<!-- google+ -->
<meta itemprop="name" content="{{ page.social_title | default: page.title }}">
<meta itemprop="description" content="{{ page.social_description | default: page.description | default: site.description }}">
<meta itemprop="image" content="{{ share_img }}">
<!-- /*** social meta *** -->

<link rel="publisher" href="https://plus.google.com/{{ site.author.googleid }}">

<link rel="icon" type="image/png" href="{{ site.url }}{{ site.favicon }}"/>
<link rel="canonical" href="{{ site.url }}{{ page.url }}">

{% if page.autoresponder_active %}
<meta name="autoresponder_hours" content="{{ page.autoresponder_hours }}">
<meta name="autoresponder_subject" content="{{ page.autoresponder_subject  | replace: '(PETITION_TITLE)', page.headline }}">
<meta name="autoresponder_text" content="{{ page.autoresponder_text | replace: '(PETITION_TITLE)', page.headline }}">
<meta name="autoresponder_active" content="true">
{% endif %}

{% unless include.omit_core %}
<link rel="stylesheet" type="text/css" href="/css/core.css">
{% endunless %}

{% if include.stylesheet_name %}
<link rel="stylesheet" type="text/css" href="/css/{{ include.stylesheet_name }}.css">
{% elsif page.stylesheet_name %}
<link rel="stylesheet" type="text/css" href="/css/{{ page.stylesheet_name }}.css">
{% endif %}
<link rel="alternate" type="application/rss+xml" title="Fight for the Future News" href="/news/feed.xml" />
