<div class="socialize" style="position: fixed; height: 350px; margin-left: 10px; margin-top: 70px; z-index: 99;">
  <div id="fb-root"></div>
  <script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <script type="text/javascript">var _sf_startpt = (new Date()).getTime()</script>
  <div id="shareitup" style="overflow: visible">
    <div class="fb-like" data-href="http://{{ site.url }}{{ page.url }}" data-send="true" data-layout="box_count" data-width="150" data-show-faces="true" style="margin-bottom: 5px;"></div>
    <br/>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://{{ site.url }}{{ page.url }}" data-text="{{ page.share.twitter }}" style="float: left; clear: both;">Tweet</a>
    <script>!function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = "//platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
      }
    }(document, "script", "twitter-wjs");</script>

  </div>
</div>
