# Add your real Tumblr API key and _save as_ `.env`
# **Don't** save as any other filename or it will end up in Git.
# Then, make sure to `source .env` before running `npm start`

export TUMBLR_API_KEY=asdf1234
