# Add your real Tumblr API key and _save as_ `.env`
# **Don't** save as any other filename or it will end up in Git.
# Then, make sure to `source .env` before running `npm start`

export TUMBLR_API_KEY=asdf1234
export AWS_ACCESS_KEY=trololol123
export AWS_SECRET_KEY=Password
export AWS_S3_BUCKET=s3.fightforthefuture.org
export AWS_S3_FOLDER=images/blog
