/*FONTS*/
@font-face {
    font-family: 'BevanRegular';
    src: url('/webfonts/Bevan-webfont.eot');
    src: url('/webfonts/Bevan-webfont.eot?#iefix') format('embedded-opentype'),
         url('/webfonts/Bevan-webfont.woff') format('woff'),
         url('/webfonts/Bevan-webfont.ttf') format('truetype'),
         url('/webfonts/Bevan-webfont.svg#BevanRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'BebasNeueRegular';
    src: url('/webfonts/BebasNeue-webfont.eot');
    src: url('/webfonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('/webfonts/BebasNeue-webfont.woff') format('woff'),
         url('/webfonts/BebasNeue-webfont.ttf') format('truetype'),
         url('/webfonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.oleo {font-family: 'Oleo Script', cursive;}
.palatino {font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;}
.montserrat {font-family: 'Montserrat', sans-serif;}
.bebas {font-family: 'BebasNeueRegular';}



body header {
    background: url(header_bg.png) repeat-x;
    height: 105px;
}

body header h1 {
    color: #fff; /* text color */
    font-size: 40px;
    display: inline-block;
    float: left;
    margin-left: 140px;
font-weight: normal;
    
}
body .wrapper, body .wrap {width: 962px; margin: 0 auto;}
body .wrap {margin-top: 120px; padding-bottom: 200px;}

body header form {width: 640px; float: right; overflow: auto; margin-top: 20px;}
body header form p.details {font-size: 12px; color: #fff; margin-top: 0px; text-align: left;}
a.banner {display: block; padding-top: 30px; padding-bottom: 30px;}
body .wrap h2 {
    text-align: center;
    color: #990031; /* text color */
    font-family: "Helvetica";
    font-size: 28px;
    font-weight: bold;
    
}
ul {list-style-type: none; text-align: center; margin: 0 auto;width: 970px;}
ul li {display: inline; float: left; margin-right: 10px; margin-left: 10px;}
a.btn, button, input {
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #fdc31d; /* layer fill content */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RlYWIxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZkYzMxZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient overlay */
    background-image: -moz-linear-gradient(bottom, #deab19 0%, #fdc31d 100%); /* gradient overlay */
    background-image: -o-linear-gradient(bottom, #deab19 0%, #fdc31d 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(bottom, #deab19 0%, #fdc31d 100%); /* gradient overlay */
    background-image: linear-gradient(bottom, #deab19 0%, #fdc31d 100%); /* gradient overlay */
    
    
    color: #332500; /* text color */
    font-family: "Helvetica";
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 1px 0 #ffe28e; /* drop shadow */
    width: 100px;
    padding: 15px 0 15px 0;
    text-align: center;
    display: inline-block;
}

a.btn {width: 200px;}

input {
    text-align: left;
    font-weight: normal;
    padding-left: 20px;
    text-shadow: none;
    background: white;
}

form input.email {width: 240px;}
form input.name {width: 165px;}
form input.amount {width: 40px;}
form button {width: 120px;}
