.clear {
    clear: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
       opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: fadeIn;
}

.mobile-navigation .cheeseburger {
    cursor: pointer;
    position: relative;
}

.mobile-navigation .cheeseburger .lines {
    /* this span is the central line of the menu icon */
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: white;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* these are the upper and lower lines in the menu icon */
}

.mobile-navigation .cheeseburger .lines::before,
.mobile-navigation .cheeseburger .lines::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    right: 0;
    -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
    -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
    transition: transform .3s, top .3s, background-color 0s;
}

.mobile-navigation .cheeseburger .lines::before {
    top: -5px;
}

.mobile-navigation .cheeseburger .lines::after {
    top: 5px;
}

.mobile-navigation.mobile-navigation-is-expanded .cheeseburger .lines {
    background-color: rgba(255, 255, 255, 0);
}

.mobile-navigation.mobile-navigation-is-expanded .cheeseburger .lines::before,
.mobile-navigation.mobile-navigation-is-expanded .cheeseburger .lines::after {
    background-color: white;
}

.mobile-navigation.mobile-navigation-is-expanded .cheeseburger .lines::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.mobile-navigation.mobile-navigation-is-expanded .cheeseburger .lines::after {
    top: 0;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}

@media screen and (max-width: 767px) {
    nav.mobile-navigation-is-expanded {
        background-color: #03263d;
        display: block;
        padding: 16px 0;
        position: absolute;
        top: 50px;
        width: 100%;
        z-index: 2;
    }

    nav.mobile-navigation-is-expanded a {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    nav.mobile-navigation-is-expanded a:hover {
        background-color: white;
        color: black;
    }

    nav.mobile-navigation-is-expanded a.donate {
        border: none;
        border-radius: 0;
    }

    nav.mobile-navigation-is-expanded a.facebook,
    nav.mobile-navigation-is-expanded a.twitter {
        display: none;
    }

    iframe#_cd_iframe {
        left: -767px;
        position: absolute;
    }
}

header .david-by-michelangelo.loaded {
    opacity: 1;
}

section.additional-sections {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    margin: 0 auto;
    max-width: 100%;
    padding: 24px 16px;
    width: 980px;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

section.additional-sections .feeds {
    margin: 0 auto;
    max-width: 918px;
}

section.additional-sections .feeds h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: lighter;
    margin: 12px 0 40px;
    text-align: left;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
}

section.additional-sections .twitter-timeline-wrapper {
    height: 375px;
    float: left;
    margin: 0 auto;
    opacity: 0;
    position: relative;
    width: 300px;

    -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
}

section.additional-sections .twitter-timeline-wrapper .logo {
    position: absolute;
    right: -8px;
    top: -12px;
}

section.additional-sections .twitter-timeline-wrapper .spacer {
    height: 12px;
}

section.additional-sections .twitter-timeline-wrapper iframe {
    background-color: #11191f;
    height: 365px;
    padding-left: 12px !important;
    width: 100% !important;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

section.additional-sections .tumblr-wrapper {
    float: right;
    max-height: 375px;
    opacity: 0;
    position: relative;
    width: calc(100% - 360px);

    -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
}

section.additional-sections .tumblr-wrapper.filled {
    opacity: 1;
}

section.additional-sections .tumblr-wrapper .logo {
    position: absolute;
    right: -8px;
    top: -12px;
}

section.additional-sections .tumblr-wrapper .spacer {
    height: 12px;
}

section.additional-sections .tumblr-wrapper .posts {
    height: 363px;
    overflow: auto;
}

section.additional-sections .tumblr-wrapper .posts iframe,
section.additional-sections .tumblr-wrapper .posts img {
    max-width: 100%;
}

section.additional-sections .tumblr-wrapper .posts .story {
    background: #11191f;
    border: 1px solid #151515;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15) inset;
    color: rgb(207, 207, 207);
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    margin: 20px 0 0;
    overflow: auto;
    padding: 14px 20px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

section.additional-sections .tumblr-wrapper .posts div:first-child .story {
    margin: 0;
}

section.additional-sections .tumblr-wrapper .posts .story a {
    color: #23D79E;
    text-decoration: none;
}

section.additional-sections .tumblr-wrapper .posts .story h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: lighter;
    margin: 16px 0px 28px;
}

section.additional-sections .tumblr-wrapper .posts .story p.date {
    color: #a0a0a0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 11px;
    line-height: 16px;
    margin: 0 0 10px;
}

section.additional-sections .twitter-timeline-wrapper .text-link,
section.additional-sections .tumblr-wrapper .text-link {
    color: white;
    display: none;
}

@media screen and (max-width: 700px) {
    section.additional-sections .twitter-timeline-wrapper,
    section.additional-sections .tumblr-wrapper {
        float: left;
        height: 32px;
        margin-bottom: 12px;
        width: 130px;
    }

    section.additional-sections .twitter-timeline-wrapper .logo,
    section.additional-sections .tumblr-wrapper .logo {
        position: static;
    }

    section.additional-sections .twitter-timeline-wrapper .spacer,
    section.additional-sections .tumblr-wrapper .spacer {
        display: none;
    }

    section.additional-sections .twitter-timeline-wrapper .text-link,
    section.additional-sections .tumblr-wrapper .text-link {
        display: inline-block;
        position: relative;
        top: -18px;
    }

    section.additional-sections .twitter-timeline-wrapper iframe,
    section.additional-sections .tumblr-wrapper .posts {
        display: none !important;
    }
}

body.adblock section.additional-sections .tumblr-wrapper {
    float: none;
    margin-bottom: 64px;
    width: 100%;
}

body.adblock section.additional-sections .tumblr-wrapper .logo {
    left: 0;
    right: auto;
    top: 0;
}

body.adblock section.additional-sections .tumblr-wrapper .spacer {
    height: 64px;
}

section.additional-sections .projects {
    margin: 0 auto;
    text-align: center;
}

section.additional-sections .projects.first {
    padding: 48px 0 0;
}

section.additional-sections .projects h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    font-weight: lighter;
    margin: 12px 0 40px 16px;
    text-align: left;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .75);
}

section.additional-sections .projects.first h4 {
    font-size: 32px;
}

section.additional-sections .projects .project {
    background-color: #11191f;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(33, 49, 62, 1);
    display: inline-block;
    height: 284px;
    margin: 5px;
    text-align: center;
    vertical-align: bottom;
    width: 226px;

    -webkit-transition: background-color 0.4s, -webkit-transform 0.4s;
            transition: background-color 0.4s, transform 0.4s;
}

section.additional-sections .projects .project:not(.other-links) {
    cursor: pointer;
}

section.additional-sections .projects .project:hover:not(.other-links) {
    background-color: #2f404e;
    position: relative;
    z-index: 2;

    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

section.additional-sections .projects .project:not(.other-links) a {
    border-radius: 4px;
    display: block;
    height: 123px;
    margin: 10px auto 0px;
    overflow: hidden;
    width: 202px;
}

section.additional-sections .projects .project:not(.other-links) a img {
    border: none;
    margin: -2px 0 0 -4px;
    opacity: 0;

    -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
}

section.additional-sections .projects .project.other-links img {
    border-radius: 5px;
    height: 48px;
    margin: 10px 0 16px;
}

section.additional-sections .projects .project h5 {
    font-size: 13px;
    margin: 12px 16px 6px;
    text-align: left;
}

section.additional-sections .projects .project p {
    color: #e4edf5;
    font-size: 13px;
    font-weight: normal;
    line-height: 17px;
    margin: 0 16px;
    text-align: left;
}

section.additional-sections .projects .project span a {
    color: white;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.6;
}

section.additional-sections .projects h4 a {
    color: #14a767;
    text-decoration: none;
}

section.additional-sections .projects h4 a:hover {
    color: #1cbe78;
}

section.additional-sections .projects .project span a:hover {
    color: #fbc337;
}

section.additional-sections .projects .project .fire {
    display: block;
    height: 48px;
    margin-left: 190px;
    margin-top: -18px;
    opacity: 0;
    position: absolute;
    width: 48px;
    z-index: 1;

    -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
}

@media screen and (max-width: 996px) {
    section.additional-sections .projects {
        width: 708px;
    }
}

@media screen and (max-width: 748px) {
    section.additional-sections .projects {
        width: auto;
    }

    section.additional-sections .projects h4 {
        margin-left: 0;
        text-align: center;
    }
}

section.additional-sections .quotes {
    padding: 48px 0 0;
    text-align: center;
}

section.additional-sections .quotes h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: normal;
    margin: 12px 0 32px 16px;
    text-align: left;
}

section.additional-sections .quotes .publication {
    display: inline-block;
    text-align: left;
    padding: 0 16px 32px;
    vertical-align: top;
    width: 280px;
}

.publication a {
  color: white;
  text-decoration: none;
  opacity: 0.8;
  display: block;
  transition: opacity 200ms;
}

.publication a:hover, .publication a:active {
  opacity: 1;
}

section.additional-sections .quotes .publication .quote {
    padding: 0 0 16px;
}

section.additional-sections .quotes .publication .quote::before,
section.additional-sections .quotes .publication .quote::after {
    color: #777;
    content: '"';
    font-family: Verdana, sans-serif;
}

section.additional-sections .quotes .publication .name {
    color: #7e7e7e;
    font-size: 18px;
    font-weight: bold;
}

section.additional-sections .quotes .publication .name img {
    margin: 0 6px 0 0;
    min-height: 33px;
    min-width: 25px;
    opacity: 0;
    vertical-align: middle;

    -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
}

@media screen and (max-width: 996px) {
    section.additional-sections .quotes h4 {
        text-align: center;
        margin-left: 0;
    }
}

@media screen and (max-width: 362px) {
    section.additional-sections .quotes .publication {
        padding-left: 0;
        padding-right: 0;
        width: 250px;
    }
}

section.additional-sections .publications {
    text-align: center;
    border-top: 1px solid #334;
    padding: 36px 0 24px;
}

section.additional-sections .publications a {
    display: inline-block;
    padding: 8px;
    vertical-align: middle;
}

section.additional-sections .publications a img {
    border: none;
    min-height: 21px;
    min-width: 67px;
    opacity: 0;

    -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
}

section.footer {
    background-color: #1d2b36;
    font-family: 'Raleway', sans-serif;
    padding: 0 0 40px;
}

section.footer .logo-bar {
    background-color: #1e2e3a;
    border-bottom: 1px solid #1a2731;
    height: 84px;
    margin: 16px 0 0;
    text-align: center;
}

section.footer .logo-bar img {
    height: 40px;
    padding: 22px 0 10px;
}

section.footer .conclusion {
    color: #a4c0d6;
    font-size: 13px;
    line-height: 1.5;
    padding: 32px 20px 0;
    text-align: center;
}

section.footer .conclusion a {
    color: #abcfed;
    font-weight: bold;
}

section.footer .conclusion .donations {
    color: white;
}

section.footer .conclusion .donations a {
    color: #14a767;
}

@media screen and (max-width: 767px) {
    section.footer {
        padding: 0 0 32px;
    }
}
