/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end eric meyer's reset */
.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clear {
  display: inline-block;
}
/* hide IE mac \*/
* html .clear {
  height: 1%;
}
.clear {
  display: block;
}
/* */
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  height: 100%;
}
body {
  font-size: 1.6rem;
  font-family: "Raleway", "Proxima Nova", "Verdana", "Lucida Grande", "Gill Sans", "Arial", "Helvetica", sans-serif;
  padding-top: 5.5rem;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Bebas, "Bebas Neue", Impact;
}
img {
  height: auto;
  max-width: 100%;
}
.no-doctype * {
  box-sizing: content-box;
}
.classic {
  margin: 0 auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  padding-top: 0;
  /* @group quotes */
  /* @end */
  /*404 Starts*/
  /*404 Ends*/
}
.classic .bebas {
  font-family: Bebas, Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
}
.classic .oleo {
  font-family: "Oleo Script", Oleo, 'Brush Script MT', "Brush Script MT", cursive;
}
.classic form {
  display: block;
}
.classic a:visited {
  text-decoration: none;
}
.classic .wrap {
  width: 940px;
  margin: 0 auto;
}
header .classic .wrap {
  width: auto;
}
.classic header fieldset {
  float: right;
  padding: 0 8px 0 0;
  width: auto;
}
.classic .storelink {
  width: 235px;
  float: left;
  margin-top: 4px;
}
.classic .storelink a {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0;
  font-size: 21px;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* future proofing */
  font-size: 22px;
  background: #FBC337;
  color: #332503;
  padding-bottom: 3px;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
  text-decoration: none;
}
.classic .storelink a:hover {
  background: #f69100;
}
.classic .banner {
  background: #163b69 url(/images/new/space.jpg) no-repeat center;
  z-index: 1;
  position: relative;
  margin-top: -279px;
  float: left;
  width: 100%;
  height: 277px;
}
.classic .banner h2 {
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  font-style: italic;
  margin-top: 55px;
  margin-bottom: 8px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}
.classic .banner h2 a {
  font-size: 100px;
}
.classic .banner h2 a:hover {
  color: #900;
}
@media screen and (max-width: 650px) {
  .classic .banner h2 a {
    font-size: 40px;
    color: white;
  }
}
.classic .banner a {
  color: white;
  transition: color .5s linear;
  -ms-transition: color .5s linear;
  -webkit-transition: color .5s linear;
  -moz-transition: color .5s linear;
  -o-transition: color .5s linear;
}
.classic .banner a:hover {
  color: #900;
}
.classic .banner a.status {
  display: block;
  text-align: center;
}
.classic .top_border {
  background: url(/images/new/top_border.png) repeat-x;
  height: 274px;
  z-index: 2;
  position: relative;
  width: 100%;
  float: left;
  margin-top: 60px;
  pointer-events: none;
}
@-moz-document url-prefix() {
  .classic .top_border {
    margin-top: 58px;
  }
}
.classic h1 a {
  position: relative;
  z-index: 9999999;
  cursor: pointer;
  width: 943px;
  height: 141px;
  background: url(/images/new/h1_background.png) no-repeat;
  text-indent: -9999px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.classic div.xoxo {
  width: 49px;
  height: 49px;
  background: url(/images/new/heart.png) no-repeat;
  text-indent: -9999px;
  left: 0;
  margin-top: 32px;
  position: absolute;
  margin-left: calc(26%);
  position: fixed;
  top: 0;
  z-index: 99;
}
.classic .superfluous {
  height: 57px;
  z-index: 2;
  position: absolute;
  width: 100%;
  background: url(/images/new/weird_gradient.png) repeat-x;
  margin-top: 332px;
}
@-moz-document url-prefix() {
  .classic .superfluous {
    margin-top: 330px;
  }
}
.classic .signup {
  width: 370px;
  float: right;
}
.classic .signup p {
  font-size: 18px;
  margin-bottom: 20px;
}
.classic .signup h3 {
  font-size: 30px;
  margin-bottom: 10px;
  line-height: 1.2;
}
.classic .signup input,
.classic .signup button {
  border: 0;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 9px;
}
.classic .signup input {
  width: 250px;
  font-size: 15px;
  padding-left: 10px;
}
@media screen and (max-width: 650px) {
  .classic .signup input {
    width: 180px;
    border-radius: 0;
  }
}
.classic .signup button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 105px;
  float: right;
  background: #14a767;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
  color: #fff;
  font-size: 24px;
  padding-bottom: 3px;
  padding-top: 3px;
}
.classic .signup button:hover {
  background: #026600;
}
@-moz-document url-prefix() {
  .classic .signup button {
    padding-bottom: 1px;
  }
}
.classic .projects {
  clear: both;
  overflow: hidden;
  width: 960px;
}
.classic .projects h3 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
  font-size: 17px;
  margin: 20px 0 15px 0;
}
.classic .projects h3 a {
  text-decoration: none;
  color: #14A767;
}
.classic .projects h3 a:hover {
  text-decoration: underline;
}
.classic .projects h3 a:visited {
  color: #14A767;
  text-decoration: none;
}
.classic .projects h4 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
  font-size: 32px;
}
.classic .project {
  width: 226px;
  height: 268px;
  background: url(/images/new/project_background.png) no-repeat center;
  float: left;
  margin-right: 13px;
  margin-bottom: 13px;
  overflow: hidden;
}
.classic .project:hover {
  background: url(/images/new/project_background_hover.png) no-repeat center;
}
.classic .project img {
  margin-left: 9px;
  margin-top: 10px;
}
.classic .project h5 {
  font-weight: bold;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.classic .project .broken {
  width: 226px;
  font-weight: bold;
  margin-bottom: 3px;
  font-size: 13px;
  text-align: center;
  color: white;
  float: left;
  color: #b0b0b0;
}
.classic .project span a {
  width: 226px;
  font-weight: bold;
  margin-bottom: 3px;
  font-size: 13px;
  text-align: center;
  color: white;
  float: left;
}
.classic .project span a:hover {
  color: #fbc337;
}
.classic .project h5,
.classic .project p {
  margin: 4px 15px;
  line-height: 1.3;
}
.classic .project p {
  font-size: 12px;
  margin-top: 5px;
  color: #b7b6b6;
  margin-bottom: 10px;
}
.classic .project a.act {
  background: #fdc41d;
  color: #332500;
  text-align: center;
  display: block;
  border-radius: 3px;
  font-size: 20px;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}
.classic .project .fire {
  display: block;
  width: 48px;
  height: 48px;
  text-indent: -4000px;
  position: absolute;
  margin-left: 185px;
  margin-top: -12px;
  background: url(/images/new/project/fire.png) no-repeat;
}
.classic a.btn,
.classic button {
  cursor: pointer;
}
.classic a.btn {
  background: url(/images/new/small_grey_left.png) no-repeat left;
  padding-left: 10px;
  height: 29px;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}
.classic a.btn span {
  display: inline-block;
  background: url(/images/new/small_grey_right.png) no-repeat right;
  height: 29px;
  padding-right: 25px;
  padding-left: 15px;
  padding-top: 9px;
  margin-top: -5px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}
.classic a.btn:hover {
  background: #4f4f4f;
  border-radius: 12px;
}
.classic a.btn:hover span {
  background: none;
}
.classic .next {
  display: inline-block;
  float: left;
  margin-top: 25px;
  margin-bottom: 40px;
}
.classic .next a,
.classic .next p {
  display: inline-block;
}
.classic .lastnext {
  margin-left: 20px;
}
.classic .bordertwo {
  width: 100%;
  background: url(/images/new/logotwobackground.png) repeat-x;
  clear: both;
  height: 83px;
  overflow: auto;
  margin-top: 20px;
  position: relative;
  z-index: 4;
}
.classic .bordertwo h5 a {
  margin: 0 auto;
  width: 236px;
  height: 40px;
  text-indent: -999px;
  background: url(/images/new/logotwo.png) no-repeat;
  margin-top: 20px;
  display: block;
}
.classic .social {
  float: right;
  width: 160px;
  margin-bottom: 20px;
}
.classic .social li {
  display: inline-block;
}
.classic .social li.oleo {
  font-size: 19px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
  float: left;
  margin-right: 10px;
}
.classic .social li.thing a {
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  display: inline-block;
  margin-left: 5px;
}
.classic .social li.tw a {
  background: url(/images/new/social_twitter.png) no-repeat;
}
.classic .social li.fb a {
  background: url(/images/new/social_facebook.png) no-repeat;
  text-indent: -9999px;
}
.classic .info .nav {
  float: left;
  margin-top: 12px;
}
.classic .info .nav li {
  display: inline-block;
  font-size: 14px;
}
.classic .info .nav li:first-child {
  margin-right: 18px;
}
.classic .info .nav li.active a {
  position: relative;
  z-index: 6;
  background: url(/images/new/active_tab.png) no-repeat;
}
.classic .info .nav li a {
  display: inline-block;
  width: 106px;
  height: 30px;
  padding-top: 10px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.classic .info .data {
  clear: both;
  float: left;
  margin-top: -4px;
  position: relative;
  z-index: 5;
  width: 932px;
  height: 688px;
  overflow: hidden;
  /*    background: url(/images/new/data_background.png) no-repeat;
      */
  padding-left: 30px;
  padding-top: 30px;
  margin-bottom: 40px;
}
.classic .info .data .person {
  width: 410px;
  height: 155px;
  display: inline-block;
  padding-right: 50px;
}
.classic .person img {
  float: left;
  width: auto;
}
.classic .person .details {
  float: right;
  width: 280px;
}
.classic .person p {
  font-size: 13px;
  color: #b7b6b6;
}
.classic .person h4 {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: -5px;
}
.classic .person a {
  color: #fff;
}
.classic .copyleft {
  font-size: 13px;
  color: #a8a8a8;
  clear: both;
  padding-left: 18px;
}
.classic .copyleft a {
  font-weight: bold;
  color: #a8a8a8;
}
.classic .copyleft p.lastask {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 50px;
}
.classic .copyleft p.lastask a {
  color: #14a767;
}
.classic footer {
  background: url(/images/new/striped_background.png);
  margin-bottom: 0;
  padding-bottom: 50px;
  margin-top: -50px;
  padding-top: 100px;
  z-index: 5;
}
.classic ul.presslist li a {
  display: block;
  font-size: 18px;
  line-height: 20px;
  margin-left: 40px;
}
.classic #homelinkage {
  display: block;
  position: absolute;
  height: 270px;
  text-indent: -99999px;
  width: 800px;
  margin: 0 auto;
  top: 60px;
  z-index: 200;
  width: 100%;
  cursor: pointer;
}
@media screen and (max-width: 650px) {
  .classic #homelinkage {
    display: block;
    width: 320px;
  }
}
.classic input[type="number"]::-webkit-inner-spin-button,
.classic input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.classic .quotes_box {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 50px;
}
.classic .quotes_box h4 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
  font-size: 32px;
}
.classic .quotes_box h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
  color: #7e7e7e;
  margin-top: 20px;
  text-decoration: none;
}
.classic .quotes_box p {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-style: italic;
  color: #fff;
  /* text color */
  font-size: 11pt;
  letter-spacing: 0.5px;
  line-height: 19px;
}
.classic .quote {
  margin-right: 22px;
  float: left;
  width: 290px;
}
.classic .line-separator {
  display: block;
  height: 1px;
  background: #3c3c3c;
  margin-top: 180px;
  margin-bottom: 25px;
}
.classic .news_logo {
  margin-top: 0;
  width: auto;
  margin-right: 20px;
  float: left;
}
@media screen and (max-width: 650px) {
  .classic .gt {
    display: none;
  }
  .classic .storelink {
    width: auto;
  }
  .classic .wrap {
    width: 320px;
  }
  .classic .social {
    float: none;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    width: 250px;
  }
  .classic .nav li.active a {
    background: none;
  }
  .classic .projects h4 {
    margin-bottom: 20px;
  }
  .classic .copyleft,
  .classic .blurb,
  .classic .signup,
  .classic .info .data,
  .classic .projects {
    background: none;
    width: 300px;
    padding: 0;
    margin: 0;
    height: auto;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .classic .blurb {
    margin-top: 20px;
  }
  .classic .project {
    margin: 0 auto;
    float: none;
    margin-bottom: 20px;
  }
  .classic .info .data .person {
    width: 300px;
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #ccc;
    height: auto;
    overflow: auto;
  }
  .classic .person .details {
    float: right;
    width: 180px;
  }
  .classic h1 a {
    width: 320px;
    height: 57px;
    background: url(/images/new/tinylogo.png) no-repeat;
    text-indent: -9999px;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .classic .socialize {
    display: none;
  }
  .classic .content img,
  .classic .sidebar img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .classic .quote {
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .classic .news_logo {
    margin-top: 30px;
    float: none;
    text-align: center;
  }
  .classic .quotes_box {
    margin-bottom: 100px;
  }
  .classic .line-separator {
    margin-top: 465px;
  }
  .classic .quotes_box h5 {
    margin-top: 10px;
  }
  .classic .quotes_box h4 {
    padding-left: 10px;
  }
}
.classic .error {
  width: 800px;
  margin: 0 auto 0 auto;
}
.classic .big_heart {
  margin: 50px 0 50px 0;
}
.classic .huge_title {
  margin: 35px 0 -10px 0;
  font-size: 60pt;
  letter-spacing: -5px;
}
.classic .error_block {
  margin: 30px 0 40px 30px;
}
.classic .float_l {
  float: left;
}
.classic div.clear,
.classic .clear_l {
  clear: left;
}
.classic .error_txt {
  font-size: 18pt;
  width: 500px;
}
.classic .error_txt a {
  color: #14A767;
}
.classic body .wrap p.us {
  color: #666;
  margin-top: -40px;
  margin-bottom: 30px;
  display: block;
}
.classic .donate {
  margin-left: 20px;
  float: right;
  z-index: 510;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-color: #3f8b00;
  /* layer fill content */
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  /* drop shadow */
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  /* drop shadow */
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  /* drop shadow */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI2NzYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFhYTAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  /* gradient overlay */
  background-image: -moz-linear-gradient(bottom, #267600 0%, #1aa000 100%);
  /* gradient overlay */
  background-image: -o-linear-gradient(bottom, #267600 0%, #1aa000 100%);
  /* gradient overlay */
  background-image: -webkit-linear-gradient(bottom, #267600 0%, #1aa000 100%);
  /* gradient overlay */
  background-image: linear-gradient(bottom, #267600 0%, #1aa000 100%);
  /* gradient overlay */
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.classic .donate:hover {
  z-index: 510;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-color: #3f8b00;
  /* layer fill content */
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  /* drop shadow */
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  /* drop shadow */
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  /* drop shadow */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI2NzYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIyZDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  /* gradient overlay */
  background-image: -moz-linear-gradient(bottom, #267600 0%, #22d000 100%);
  /* gradient overlay */
  background-image: -o-linear-gradient(bottom, #267600 0%, #22d000 100%);
  /* gradient overlay */
  background-image: -webkit-linear-gradient(bottom, #267600 0%, #22d000 100%);
  /* gradient overlay */
  background-image: linear-gradient(bottom, #267600 0%, #22d000 100%);
  /* gradient overlay */
}
.donate.classic .donate {
  position: relative;
  text-decoration: none;
  padding: 6px 14px;
  color: #fff;
  /* text color */
  font-family: "Helvetica";
  font-size: 15px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
  /* drop shadow */
}
.classic .gt {
  float: left;
  z-index: 510;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-color: #3f8b00;
  /* layer fill content */
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  /* drop shadow */
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  /* drop shadow */
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  /* drop shadow */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5NTBlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAzNzhmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  /* gradient overlay */
  background-image: -moz-linear-gradient(bottom, #2950ec 0%, #0378fb 100%);
  /* gradient overlay */
  background-image: -o-linear-gradient(bottom, #2950ec 0%, #0378fb 100%);
  /* gradient overlay */
  background-image: -webkit-linear-gradient(bottom, #2950ec 0%, #0378fb 100%);
  /* gradient overlay */
  background-image: linear-gradient(bottom, #2950ec 0%, #0378fb 100%);
  /* gradient overlay */
}
.classic .gt:hover {
  z-index: 510;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-color: #3f8b00;
  /* layer fill content */
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  /* drop shadow */
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  /* drop shadow */
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  /* drop shadow */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5NTBlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI3OTZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  /* gradient overlay */
  background-image: -moz-linear-gradient(bottom, #2950ec 0%, #2796ff 100%);
  /* gradient overlay */
  background-image: -o-linear-gradient(bottom, #2950ec 0%, #2796ff 100%);
  /* gradient overlay */
  background-image: -webkit-linear-gradient(bottom, #2950ec 0%, #2796ff 100%);
  /* gradient overlay */
  background-image: linear-gradient(bottom, #2950ec 0%, #2796ff 100%);
  /* gradient overlay */
}
.gt.classic .gt {
  position: relative;
  text-decoration: none;
  padding: 6px 14px;
  color: #fff;
  /* text color */
  font-family: "Helvetica";
  font-size: 15px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
  /* drop shadow */
  z-index: 501;
}
.classic #top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  background: url('http://www.thecenterforrights.org/images/top_tile.gif') repeat-x;
  height: 60px;
}
.classic #top span {
  margin: 0 auto;
  width: 900px;
  overflow: auto;
  display: block;
  margin-top: 1px;
}
.classic .press {
  margin-bottom: 20px;
}
.classic .aboutpic {
  float: left;
  margin-right: 20px;
}
.classic .teammember {
  margin-top: 17px;
  margin-bottom: 30px;
  float: left;
}
.classic .teamdevider {
  width: 650px;
  height: 1px;
  background-color: #dfdfdf;
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
}
.classic input.placeholder {
  color: #999;
}
.default .top_border {
  margin-top: 0;
}
.default .bordertwo {
  height: 74px;
}
.default #container {
  margin-bottom: 0;
  padding-bottom: 16px;
  overflow: hidden;
}
.default article.classic {
  overflow: hidden;
}
.white {
  background: white;
}
@media screen and (max-width: 650px) {
  .white iframe {
    width: 300px;
    margin: 0;
    padding: 0;
  }
}
.white .banner {
  height: 166px;
  margin-top: -168px;
}
.white .banner h2 {
  display: none;
}
.white .banner h1 a {
  display: block;
  background: url(/images/new/h1_background_inner.png) no-repeat;
  width: 597px;
  height: 81px;
  margin-top: 50px;
}
@media screen and (max-width: 650px) {
  .white .banner h1 a {
    width: 320px;
    height: 57px;
    background: url(/images/new/tinylogo.png) no-repeat;
    text-indent: -9999px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
  }
}
.white .top_border {
  height: 166px;
  background: url(/images/new/top_border_inner.png) repeat-x;
}
.white .superfluous {
  display: none;
}
.white .sidebar,
.white .content {
  color: #363636;
  margin-top: 50px;
}
@media screen and (max-width: 650px) {
  .white .sidebar,
  .white .content {
    background: none;
    width: 300px;
    padding: 0;
    margin: 0;
    height: auto;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.white .sidebar a,
.white .content a {
  color: #14a767;
}
.white .sidebar {
  width: 200px;
  padding-right: 75px;
  float: left;
}
.white .sidebar ul.nav {
  margin-bottom: 40px;
}
.white .sidebar ul.nav li {
  display: inline;
  font-size: 22px;
}
.white .sidebar ul.nav li a {
  color: #a0a0a0;
  text-decoration: none;
}
.white .sidebar ul.nav li a:hover {
  color: #14a767;
}
.white .sidebar ul.nav li a.current {
  color: #494949;
}
.white .sidebar h3 {
  color: #363636;
  font-size: 30px;
}
.white .sidebar ul.notnav li {
  font-size: 18px;
  margin-bottom: 5px;
}
.white .content {
  width: 660px;
  float: right;
  color: #363636;
  margin-bottom: 50px;
}
@media screen and (max-width: 650px) {
  .white .content {
    margin-top: 20px;
  }
}
.white .content p {
  margin-bottom: 10px;
}
.white .content h2,
.white .content h3,
.white .content h4,
.white .content h5 {
  font-weight: bold;
}
.white .content h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}
@media screen and (max-width: 650px) {
  .white .content h2 {
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 10px;
  }
}
.white .content h3 {
  font-size: 120%;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #444;
}
.white .content ol {
  list-style-type: decimal;
}
.white .content ul,
.white .content ol {
  padding: 20px;
}
.white .content ul li {
  list-style-type: circle;
  margin-left: 20px;
}
.white .content ul.presslist {
  padding: 0;
}
.white .content ul.presslist li {
  font-size: 16px;
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
  background: url(/images/new/news.png) left top no-repeat;
  list-style-position: inside;
  color: #777;
}
.white .content li {
  margin-bottom: 5px;
}
.white .content blockquote {
  display: inline-block;
  padding: 20px;
  margin-left: 20px;
  font-family: Georgia;
  font-size: 120%;
}
.white #homelinkage {
  height: 160px;
}
.white .teammember h3 {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #444;
  margin-top: 5px;
}
.white .teammember h4 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #9aa2a2;
}
.legacy-petition {
  padding-top: 0;
  /*Ali's code START*/
  /*Ali's code END*/
  /* @group Header */
  /* @end */
  /* @group Left column */
  /* @end */
  /* @group Right Column */
  /* @end */
  /* @group Shadows */
  /* @end */
}
.legacy-petition .wrap {
  margin: 0 auto;
  overflow: hidden;
  width: 860px;
}
.legacy-petition .wrap h1 {
  color: #fff;
  font-size: 124px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
}
.legacy-petition .because,
.legacy-petition .but {
  color: #fff;
  font-size: 16px;
  margin-top: 30px;
}
.legacy-petition .because h2,
.legacy-petition .but h2 {
  font-size: 24px;
  font-weight: bold;
}
.legacy-petition .because {
  width: 420px;
  float: left;
}
.legacy-petition .but {
  width: 420px;
  float: right;
}
.legacy-petition .take {
  clear: both;
  width: 860px;
  display: block;
  text-indent: -9999px;
  height: 108px;
  background: url(/images/takebackground.png) no-repeat center;
  margin: 0 auto;
  position: absolute;
  margin-top: 264px;
}
.legacy-petition .head {
  padding-top: 20px;
  overflow: auto;
  height: 475px;
}
.legacy-petition .instructions {
  width: 460px;
  float: left;
  font-weight: bold;
  margin-top: 20px;
}
.legacy-petition .instructions strong {
  color: #a53937;
}
.legacy-petition .dates {
  width: 273px;
  display: block;
  text-indent: -9999px;
  height: 132px;
  background: url(/images/datesbackground2.png) no-repeat;
  float: right;
}
.legacy-petition .preface {
  overflow: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.legacy-petition .breakitdown {
  width: 884px;
  height: 17px;
  background: url(/images/breakitdown.png) no-repeat;
  display: block;
  clear: both;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.legacy-petition .step {
  clear: both;
  overflow: auto;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dotted #000;
}
.legacy-petition .step input.done {
  float: left;
  margin-left: 68px;
  margin-top: 22px;
}
.legacy-petition .step span.step_number {
  color: #fff;
  font-weight: bold;
  float: left;
  font-size: 30px;
  margin-left: 18px;
  margin-top: 3px;
}
.legacy-petition .step p.details {
  width: 670px;
  float: right;
  clear: right;
}
.legacy-petition .step p {
  margin-bottom: 10px;
}
.legacy-petition .step h3 {
  font-size: 16px;
  font-weight: bold;
  width: 670px;
  float: right;
}
.legacy-petition .step .formz {
  width: 670px;
  float: right;
  clear: right;
  background: #b8cfda;
  border-radius: 5px;
  margin-top: 20px;
}
.legacy-petition .step .formz .buffer,
.legacy-petition .new_intro .step .new_buffer {
  background: #5cb1d9;
  margin: 10px;
  border: 1px solid #fff;
  display: block;
  border-radius: 3px;
  padding: 15px;
  color: #fff;
  padding: 15px 50px;
}
.legacy-petition .buffer p {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.legacy-petition .buffer .disclosure {
  font-weight: normal;
  font-size: 12px;
}
.legacy-petition .step form input,
.legacy-petition .step form textarea {
  font-size: 16px;
  /*	height: 42px;*/
  padding-top: 11px;
  padding-bottom: 11px;
  border: 0;
  border-radius: 2px;
  padding-left: 10px;
  display: inline-block;
}
.legacy-petition .step form textarea {
  width: 536px;
  height: 100px;
  margin-top: 3px;
}
.legacy-petition .step form button,
.legacy-petition a.btn {
  text-decoration: none;
  padding-top: 9px;
  padding-bottom: 9px;
  background: #63851b;
  font: 20px 'OSPDIN', Arial, sans-serif;
  border: 0;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
}
.legacy-petition .step input.done {
  background: #dedbd7;
  border-radius: 4px;
  border: 0;
}
.legacy-petition .step p a.btn {
  margin-left: 10px;
  margin-top: 20px;
  padding-left: 45px;
}
.legacy-petition .step a.reddit {
  background: #d95220 url(/images/redditbackground.png) no-repeat;
  background-position: 6px 6px;
}
.legacy-petition .step a.fb {
  background: #3b5998 url(/images/fbbackground.png) no-repeat;
  background-position: 6px 6px;
}
.legacy-petition a#souvenir {
  float: right;
  clear: both;
}
.legacy-petition .noformz {
  width: 675px;
  display: block;
  float: right;
  margin-top: 20px;
}
.legacy-petition .first {
  background: url(/images/stepcall.png) no-repeat;
}
.legacy-petition .second {
  border-top: 1px dotted #000;
  margin-top: 40px;
  padding-top: 40px;
  background: url(/images/steptwo.png) no-repeat;
  background-position: 0px 40px;
}
.legacy-petition .third {
  background: url(/images/stepthree.png) no-repeat;
}
.legacy-petition .fourth {
  background: url(/images/stepfour.png) no-repeat;
}
.legacy-petition .fifth {
  background: url(/images/stepfive.png) no-repeat;
}
.legacy-petition .facebooks {
  background: url(/images/stepfb.png) no-repeat;
}
.legacy-petition .drop-in {
  background: url(/images/stepdropin.png) no-repeat;
}
.legacy-petition .meetings {
  background: url(/images/stepmeetings.png) no-repeat;
  border: 1px solid #fff;
  background-position: 20px 20px;
}
.legacy-petition .new_intro .step {
  background-color: #387fa1;
  padding: 20px;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 0;
}
.legacy-petition .new_intro .step .formz {
  margin: 0;
  margin-top: -20px;
}
.legacy-petition .new_intro .step .formz .buffer,
.legacy-petition .new_intro .step .formz {
  background: none;
  border: none;
}
.legacy-petition .new_intro .step p.details {
  width: 540px;
}
.legacy-petition .new_intro .step .formz {
  width: 600px;
}
.legacy-petition .new_intro .step .formz .buffer {
  width: auto;
}
.legacy-petition .new_intro .new_buffer {
  padding: 15px;
  background: #b6ced9;
  border-radius: 5px;
  padding-bottom: 15px;
}
.legacy-petition .new_intro p.instructions {
  width: 430px;
}
.legacy-petition .new_intro .dates {
  margin-top: 30px;
}
.legacy-petition h4.ospdin {
  margin: 0 auto;
  display: block;
  text-align: center;
  color: #000;
  margin-bottom: 50px;
}
.legacy-petition h4.ospdin a {
  color: #5d5d5d;
  text-decoration: none;
}
.legacy-petition .bordertwo {
  width: 100%;
  background: url(https://www.fightforthefuture.org/images/new/logotwobackground.png) repeat-x;
  clear: both;
  height: 83px;
  overflow: auto;
  position: relative;
  z-index: 4;
  margin-top: 150px;
  float: left;
}
.legacy-petition .bordertwo h5 {
  margin: 0 auto;
  width: 236px;
  height: 40px;
  text-indent: -999px;
  background: url(https://www.fightforthefuture.org/images/new/logotwo.png) no-repeat;
  margin-top: 20px;
  display: block;
}
.legacy-petition .footer {
  background: url(https://www.fightforthefuture.org/images/new/striped_background.png);
  margin-bottom: 0;
  padding-bottom: 50px;
  margin-top: -50px;
  padding-top: 40px;
  z-index: 5;
}
.legacy-petition a.btn,
.legacy-petition button {
  cursor: pointer;
}
.legacy-petition p.copyleft a {
  color: orange;
}
.legacy-petition p.copyleft {
  font-size: 14px;
  text-align: center;
  width: 100%;
  padding-top: 40px;
  color: #fff;
}
.legacy-petition .label {
  display: block;
  font-family: Helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: black;
  margin-bottom: 20px;
}
.legacy-petition .embed {
  display: inline;
  width: auto;
  float: left;
  margin-right: 15px;
}
.legacy-petition .label {
  display: block;
  font-family: Helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: black;
}
.legacy-petition .getit {
  font-family: Helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #D95220;
}
.legacy-petition #tag {
  width: 67px;
  height: 228px;
  position: fixed;
  left: 0px;
  z-index: 500;
  margin-top: 320px;
  background: url('//www.internetdefenseleague.org/images/fftf_tag.png');
}
.legacy-petition #errors {
  padding: 3px;
  background: red;
  text-align: center;
}
.legacy-petition a.fb_cover_download_button {
  margin-top: 20px;
  clear: both;
  float: right;
  text-indent: -9999px;
  display: block;
  width: 668px;
  background: url(/images/fb_cover_download_button.png) no-repeat;
  height: 350px;
  border-radius: 5px;
}
.legacy-petition a.fb_cover_download_button:hover {
  background: url(/images/fb_cover_download_button.png) no-repeat;
  background-position: -670px 0px;
}
.legacy-petition a.cispa-drop-in-fftf {
  margin-top: 20px;
  clear: both;
  float: right;
  text-indent: -9999px;
  display: block;
  width: 668px;
  background: url(/images/cispa-drop-in-fftf.png) no-repeat;
  height: 231px;
  border-radius: 5px;
}
.legacy-petition a.cispa-drop-in-fftf:hover {
  background: url(/images/cispa-drop-in-fftf.png) no-repeat;
  background-position: -670px 0px;
}
.legacy-petition .fb_button_large {
  margin-top: 83px;
}
.legacy-petition .new_intro {
  background: #cddbe2;
  padding: 35px;
  border-radius: 5px;
  border: 1px solid #fff;
}
.legacy-petition .fresh_buffer {
  border-radius: 6px;
  background: #c8cacb;
  padding: 5px;
}
.legacy-petition body {
  background-color: #FFFFFF;
  margin: 0px;
}
.legacy-petition #top {
  background: #113a65 no-repeat center top;
  height: 85px;
  width: 100%;
  min-width: 950px;
  border-bottom: solid 5px #f1453b;
  box-shadow: 0px 2px 8px #242424;
}
.legacy-petition body #top h2 {
  margin: 0 auto;
  width: 900px;
  padding-top: 100px;
  color: #fff;
  text-align: center;
}
.legacy-petition div.xoxo {
  width: 49px;
  height: 49px;
  background: url(/images/heart.png) no-repeat;
  text-indent: -9999px;
  margin-top: -31px;
  position: absolute;
  z-index: 3;
  margin-left: 460px;
  z-index: 99;
  display: none;
}
.legacy-petition #gray {
  background: #2e2e2e url('/images/gray_bg.jpg') repeat-x;
  height: 359px;
  width: 100%;
  position: absolute;
}
.legacy-petition .wrap {
  position: relative;
  z-index: 40;
  width: 950px;
  margin: auto;
}
.legacy-petition #left {
  width: 535px;
  float: left;
}
.legacy-petition h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28pt;
  letter-spacing: -1px;
  color: #FFF;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
  /* drop shadow */
}
.legacy-petition h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18pt;
  color: #000;
  margin-bottom: -10px;
  margin-top: 30px;
}
.legacy-petition p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13pt;
  color: #000;
  line-height: 1.4em;
}
.legacy-petition input {
  padding: 5px;
  font-size: 13pt;
  color: #929292;
  width: 307px;
  margin-bottom: 4px;
}
.legacy-petition h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16pt;
  font-weight: 400;
  letter-spacing: -1px;
  color: #332500;
}
.legacy-petition .yellow_ptxt {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11pt;
  color: #402f01;
  line-height: 1.4em;
}
.legacy-petition .caption {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 9pt;
  color: #402f01;
  line-height: 1.4em;
}
.legacy-petition .yellow {
  background-color: #fdc51d;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-image: linear-gradient(bottom, #fdc51d 10%, #ffd24c 98%, #fdc51d 96%);
  background-image: -o-linear-gradient(bottom, #fdc51d 10%, #ffd24c 98%, #fdc51d 96%);
  background-image: -moz-linear-gradient(bottom, #fdc51d 10%, #ffd24c 98%, #fdc51d 96%);
  background-image: -webkit-linear-gradient(bottom, #fdc51d 10%, #ffd24c 98%, #fdc51d 96%);
  background-image: -ms-linear-gradient(bottom, #fdc51d 10%, #ffd24c 98%, #fdc51d 96%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, #fdc51d), color-stop(0.98, #ffd24c), color-stop(0.96, #fdc51d));
  box-shadow: 0px 3px 5px #707070;
  width: 350px;
  padding: 15px;
  float: right;
}
.legacy-petition #cable {
  margin-left: -25px;
  width: 61px;
  height: 89px;
  background: url('/images/cable.png') no-repeat;
}
.legacy-petition .meter_box {
  margin-top: 15px;
  padding: 10px;
  -moz-border-radius: 5px;
  /* from vector shape */
  -webkit-border-radius: 5px;
  /* from vector shape */
  border-radius: 5px;
  /* from vector shape */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-color: #cda01d;
  /* layer fill content */
  -moz-box-shadow: 0 1px 0 rgba(255, 242, 134, 0.75) /* drop shadow */, inset 0 2px 2px #9c7407 /* inner shadow */;
  -webkit-box-shadow: 0 1px 0 rgba(255, 242, 134, 0.75) /* drop shadow */, inset 0 2px 2px #9c7407 /* inner shadow */;
  box-shadow: 0 1px 0 rgba(255, 242, 134, 0.75) /* drop shadow */, inset 0 2px 2px #9c7407 /* inner shadow */;
  overflow: auto;
}
.legacy-petition .meter_box#other {
  padding: 0;
  height: 85px;
  padding-left: 15px;
}
.legacy-petition .sign {
  background-color: #065da9;
  position: relative;
  top: 13px;
  margin-left: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18pt;
  text-decoration: none;
  font-weight: 700;
  padding: 10px 50px;
  color: #fff;
  /* text color */
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  /* drop shadow */
  -moz-border-radius: 5px;
  /* from vector shape */
  -webkit-border-radius: 5px;
  /* from vector shape */
  border-radius: 5px;
  /* from vector shape */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  -moz-box-shadow: 0 3px 6px #3b2d06 /* drop shadow */, inset 0 1px 0 #7dbbf3 /* inner shadow */, 0 0 0 1px #0f71ca /* outer stroke */;
  -webkit-box-shadow: 0 3px 6px #3b2d06 /* drop shadow */, inset 0 1px 0 #7dbbf3 /* inner shadow */, 0 0 0 1px #0f71ca /* outer stroke */;
  box-shadow: 0 3px 6px #3b2d06 /* drop shadow */, inset 0 1px 0 #7dbbf3 /* inner shadow */, 0 0 0 1px #0f71ca /* outer stroke */;
  background-image: linear-gradient(bottom, #065da9 27%, #5e9ed5 100%);
  background-image: -o-linear-gradient(bottom, #065da9 27%, #5e9ed5 100%);
  background-image: -moz-linear-gradient(bottom, #065da9 27%, #5e9ed5 100%);
  background-image: -webkit-linear-gradient(bottom, #065da9 27%, #5e9ed5 100%);
  background-image: -ms-linear-gradient(bottom, #065da9 27%, #5e9ed5 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.27, #065da9), color-stop(1, #5e9ed5));
}
.legacy-petition a.sign:hover {
  position: relative;
  top: 27px;
  background-image: linear-gradient(bottom, #065da9 0%, #2c80ce 100%);
  background-image: -o-linear-gradient(bottom, #065da9 0%, #2c80ce 100%);
  background-image: -moz-linear-gradient(bottom, #065da9 0%, #2c80ce 100%);
  background-image: -webkit-linear-gradient(bottom, #065da9 0%, #2c80ce 100%);
  background-image: -ms-linear-gradient(bottom, #065da9 0%, #2c80ce 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #065da9), color-stop(1, #2c80ce));
  -moz-box-shadow: 0 1px 6px #3b2d06 /* drop shadow */, inset 0 1px 0 #7dbbf3 /* inner shadow */, 0 0 0 1px #0f71ca /* outer stroke */;
  -webkit-box-shadow: 0 1px 6px #3b2d06 /* drop shadow */, inset 0 1px 0 #7dbbf3 /* inner shadow */, 0 0 0 1px #0f71ca /* outer stroke */;
  box-shadow: 0 1px 6px #3b2d06 /* drop shadow */, inset 0 1px 0 #7dbbf3 /* inner shadow */, 0 0 0 1px #0f71ca /* outer stroke */;
}
.legacy-petition .page-curl {
  float: left;
  background: #FFFFFF;
  border: 2px solid #FFF;
  -moz-box-shadow: 0 0 6px #000000;
  -webkit-box-shadow: 0 0 6px #000000;
  box-shadow: 0 0 6px #000000;
  margin: 30px 5px 20px auto;
  padding: 3px;
  position: relative;
  width: 540px;
  height: 380px;
}
.legacy-petition .page-curl:before,
.legacy-petition .page-curl:after {
  background: none;
  bottom: 12px;
  -moz-box-shadow: 0 10px 12px #000000;
  -webkit-box-shadow: 0 10px 12px #000000;
  box-shadow: 0 10px 12px #000000;
  content: "";
  height: 10px;
  left: 12px;
  position: absolute;
  width: 40%;
  z-index: -1;
  -moz-transform: skew(-4deg) rotate(-4deg);
  -webkit-transform: skew(-4deg) rotate(-4deg);
  transform: skew(-4deg) rotate(-4deg);
}
.legacy-petition .page-curl:after {
  -moz-transform: skew(4deg) rotate(4deg);
  -webkit-transform: skew(4deg) rotate(4deg);
  transform: skew(4deg) rotate(4deg);
  left: auto;
  right: 12px;
}
.legacy-petition .page-curl.shadow-left {
  background: -moz-linear-gradient(0deg, #F5F5F5 0%, #FFF 50%) !important;
  background: -ms-linear-gradient(0deg, #F5F5F5 0%, #FFF 50%) !important;
  background: -webkit-linear-gradient(0deg, #F5F5F5 0%, #FFF 50%) !important;
  background: linear-gradient(0deg, #F5F5F5 0%, #FFF 50%) !important;
}
.legacy-petition .page-curl.shadow-right {
  background: -moz-linear-gradient(0deg, #FFF 50%, #F5F5F5 100%) !important;
  background: -ms-linear-gradient(0deg, #FFF 50%, #F5F5F5 100%) !important;
  background: -webkit-linear-gradient(0deg, #FFF 50%, #F5F5F5 100%) !important;
  background: linear-gradient(0deg, #FFF 50%, #F5F5F5 100%) !important;
}
.legacy-petition .shadow-bottom:before,
.legacy-petition .shadow-bottom:after {
  top: auto;
  bottom: 12px;
  -moz-box-shadow: 0 20px 12px #000000;
  -webkit-box-shadow: 0 20px 12px #000000;
  box-shadow: 0 20px 12px #000000;
}
.legacy-petition .shadow-left:after {
  display: none;
}
.legacy-petition .shadow-right:before {
  display: none;
}
.legacy-petition .shadow-top-bottom.shadow-left:after {
  display: block;
  bottom: auto;
  top: 15px;
  right: auto;
  left: 12px;
  -moz-box-shadow: 0 -10px 12px #000000;
  -webkit-box-shadow: 0 -10px 12px #000000;
  box-shadow: 0 -10px 12px #000000;
}
.legacy-petition .shadow-top-bottom.shadow-right:before {
  display: block;
  bottom: auto;
  top: 15px;
  right: 12px;
  left: auto;
  -moz-box-shadow: 0 -10px 12px #000000;
  -webkit-box-shadow: 0 -10px 12px #000000;
  box-shadow: 0 -10px 12px #000000;
}
.legacy-petition body textarea.page-curl {
  height: 200px;
  font-size: 12px;
  width: 500px;
  padding: 20px;
}
.legacy-petition label {
  display: none;
}
.legacy-petition #state {
  font-size: 24px;
  width: 100%;
}
.legacy-petition .yellow h3 {
  text-align: center;
}
.legacy-petition #top a {
  color: red;
}
.legacy-petition .senator {
  margin-left: 40px;
}
.legacy-petition .senator h2 {
  margin-bottom: 3px;
  margin-top: 5px;
}
.legacy-petition .yellow a {
  color: #d95700;
  font-weight: bold;
}
.legacy-petition .page-curl img {
  width: 540px;
  height: auto;
}
.legacy-petition #left p {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px;
}
.legacy-petition #left a {
  color: #fd771d;
}
.legacy-petition #left h2 {
  font-weight: bold;
  margin-bottom: 10px;
}
.legacy-petition #left p.notwhite {
  color: #000;
}
.legacy-petition #left .credit {
  font-size: 12px;
  text-align: center;
  margin-bottom: 50px;
}
.legacy-petition .yellow form fieldset {
  border: 0;
  margin-left: 20px;
  float: left;
  margin-bottom: 20px;
}
.legacy-petition .yellow h2 {
  margin-bottom: 10px;
}
.legacy-petition .yellow select {
  font-size: 20px;
}
.legacy-petition .yellow select {
  font-size: 14px;
}
.legacy-petition textarea {
  height: 140px;
  width: 310px;
  border: 1px solid #eee;
  color: #666;
  padding: 5px;
  font-size: 14px;
  line-height: 1.5;
}
@-moz-document url-prefix() {
  .legacy-petition body .sign {
    padding-bottom: 1000px;
  }
}
.legacy-petition #other {
  clear: both;
}
.legacy-petition #fftf-footer p {
  color: #fff;
}
@keyframes bladeFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.spinner {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.spinner .blade {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -4%;
  height: 8%;
  width: 100%;
}
.spinner .blade > div {
  width: 25%;
  margin: 0 0 0 auto;
  height: 100%;
  background: #f80d1b;
  border-radius: 1000px;
  opacity: 1;
  animation-duration: 2s;
  animation-name: bladeFade;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.spinner .blade.d02 {
  transform: rotate(-30deg);
}
.spinner .blade.d02 > div {
  animation-delay: -0.16666667s;
}
.spinner .blade.d03 {
  transform: rotate(-60deg);
}
.spinner .blade.d03 > div {
  animation-delay: -0.33333333s;
}
.spinner .blade.d04 {
  transform: rotate(-90deg);
}
.spinner .blade.d04 > div {
  animation-delay: -0.5s;
}
.spinner .blade.d05 {
  transform: rotate(-120deg);
}
.spinner .blade.d05 > div {
  animation-delay: -0.66666667s;
}
.spinner .blade.d06 {
  transform: rotate(-150deg);
}
.spinner .blade.d06 > div {
  animation-delay: -0.83333333s;
}
.spinner .blade.d07 {
  transform: rotate(-180deg);
}
.spinner .blade.d07 > div {
  animation-delay: -1s;
}
.spinner .blade.d08 {
  transform: rotate(-210deg);
}
.spinner .blade.d08 > div {
  animation-delay: -1.16666667s;
}
.spinner .blade.d09 {
  transform: rotate(-240deg);
}
.spinner .blade.d09 > div {
  animation-delay: -1.33333333s;
}
.spinner .blade.d10 {
  transform: rotate(-270deg);
}
.spinner .blade.d10 > div {
  animation-delay: -1.5s;
}
.spinner .blade.d11 {
  transform: rotate(-300deg);
}
.spinner .blade.d11 > div {
  animation-delay: -1.66666667s;
}
.spinner .blade.d12 {
  transform: rotate(-330deg);
}
.spinner .blade.d12 > div {
  animation-delay: -1.83333333s;
}
.copy {
  margin: 0 auto;
  max-width: 72ch;
}
.inline {
  display: inline;
  margin: 0;
  padding: 0;
}
.inline li {
  display: inline;
}
ul.piped li,
ol.piped li {
  margin: 0;
  padding: 0;
}
ul.piped li::before,
ol.piped li::before {
  content: '|\00a0';
  display: inline-block;
}
ul.piped li:first-child::before,
ol.piped li:first-child::before {
  content: '';
  display: none;
}
.donate-ask-bar {
  background: #333;
  border-bottom: 0.5rem solid #f1453b;
  display: flex;
  font-size: 1.6rem;
  justify-content: flex-end;
  left: 0;
  overflow: auto;
  padding: 1rem 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 98;
}
.donate-ask-bar::after {
  background: url('/img/brand/heart.png') center center no-repeat;
  content: '';
  height: 5rem;
  position: fixed;
  left: 0;
  margin: 0 auto;
  right: 0;
  top: 3rem;
  width: 5rem;
  z-index: 150;
}
.donate-ask-bar .dollar-sign-placeholder {
  position: relative;
}
.donate-ask-bar .dollar-sign-placeholder::before {
  color: #A9AAAB;
  content: '$';
  display: block;
  font-size: 1.6rem;
  left: 0.6rem;
  position: absolute;
  top: 0.3rem;
  z-index: 100;
}
.donate-ask-bar p {
  align-self: flex-end;
  color: #fff;
  display: none;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 2.2rem;
  font-style: italic;
  line-height: 1.2;
  text-transform: lowercase;
}
@media screen and (min-width: 480px) {
  .donate-ask-bar p {
    display: block;
  }
}
.donate-ask-bar input,
.donate-ask-bar button,
.donate-ask-bar p {
  margin-right: 0.5rem;
}
.donate-ask-bar input,
.donate-ask-bar button {
  display: block;
  padding: 0.5rem;
  border: 0;
  border-radius: 0.2rem;
  font-size: 1.6rem;
  text-align: center;
}
@media screen and (min-width: 640px) {
  .donate-ask-bar input,
  .donate-ask-bar button {
    border-radius: 0.3rem;
  }
}
.donate-ask-bar input {
  -moz-appearance: textfield;
  height: 3.3rem;
  padding-left: 1.7rem;
  padding-right: 0;
  position: relative;
  text-align: left;
  width: 5.4rem;
}
.donate-ask-bar input::-webkit-inner-spin-button,
.donate-ask-bar input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.donate-ask-bar button {
  background-color: #FBC337;
  color: #332503;
  font-family: Bebas, "Bebas Neue", Impact;
  transition: background-color 500ms ease;
}
.donate-ask-bar button:hover,
.donate-ask-bar button:active,
.donate-ask-bar button:focus {
  background-color: #f69100;
}
#fftf-footer {
  font-size: 1.4rem;
  left: 0;
  padding: 2rem 1rem;
  position: absolute;
  right: 0;
  text-align: center;
}
@media screen and (min-width: 480px) {
  #fftf-footer {
    padding: 2rem 1rem;
  }
}
@media screen and (min-width: 960px) {
  #fftf-footer {
    padding: 2rem;
  }
}
#fftf-footer a:link,
#fftf-footer a:visited,
#fftf-footer a:hover,
#fftf-footer a:active,
#fftf-footer a:focus {
  font-weight: 600;
  text-decoration: none;
}
#fftf-footer a:hover,
#fftf-footer a:active,
#fftf-footer a:focus {
  border-bottom: 0.1rem dotted lightgray;
}
#fftf-footer dl {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto 1rem;
  max-width: 310px;
}
#fftf-footer dt {
  margin-right: 1rem;
  text-align: right;
}
#fftf-footer dd {
  flex-grow: 2;
  text-align: left;
}
#fftf-footer p {
  margin-bottom: 1rem;
}
#fftf-footer {
  background-color: #1D2B36;
  color: #fff;
}
#fftf-footer a:link,
#fftf-footer a:visited,
#fftf-footer a:hover,
#fftf-footer a:active,
#fftf-footer a:focus {
  color: #fff;
}
#fftf-footer img {
  margin-top: 1rem;
}
#fftfef-footer {
  background-color: #ffffff;
  background-image: url('/images/fftfef-bg.gif');
  color: #666666;
}
#fftfef-footer a:link,
#fftfef-footer a:visited,
#fftfef-footer a:hover,
#fftfef-footer a:active,
#fftfef-footer a:focus {
  color: #666666;
}
.footer-logo {
  display: block;
  margin: 0 auto;
}
/*# sourceMappingURL=public/css/core.css.map */