/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end eric meyer's reset */
.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clear {
  display: inline-block;
}
/* hide IE mac \*/
* html .clear {
  height: 1%;
}
.clear {
  display: block;
}
/* */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background-color: #191919;
  color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  overflow: hidden;
  position: fixed;
}
body.scrolling {
  overflow: auto;
  height: 100%;
  position: static;
}
@media screen and (min-width: 640px) {
  body {
    /* border-top: 5px solid @main-color; */
    overflow: auto;
    position: static;
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3) 0px, rgba(125, 185, 232, 0) 25px);
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0px, rgba(125, 185, 232, 0) 25px);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0px, rgba(125, 185, 232, 0) 25px);
    background-repeat: no-repeat;
  }
}
.speechBubble {
  fill: #841AFF;
}
a {
  color: #bb80ff;
  text-decoration: none;
  font-weight: 600;
}
.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 595px;
  text-align: center;
  padding: 0px 10px;
}
@media screen and (min-width: 640px) {
  .content {
    padding: 0px;
  }
}
h1,
h2,
h3,
h4,
h5 {
  margin-left: auto;
  margin-right: auto;
  max-width: 595px;
  text-align: center;
  padding: 0px 10px;
}
@media screen and (min-width: 640px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    padding: 0px;
  }
}
h1 {
  font-size: 2em;
  font-weight: 100;
  padding-top: 20px;
  margin-bottom: 15px;
}
@media screen and (min-width: 640px) {
  h1:first-of-type {
    font-size: 3em;
    padding-top: 80px;
  }
}
h2 {
  font-size: 2em;
  font-weight: 100;
  padding-top: 30px;
  margin-bottom: 15px;
}
p {
  margin-left: auto;
  margin-right: auto;
  max-width: 595px;
  padding: 0px 10px;
  text-align: center;
  line-height: 1.8em;
  font-size: .9em;
  margin-bottom: 25px;
}
@media screen and (min-width: 640px) {
  p {
    padding: 0px;
  }
}
@media screen and (min-width: 640px) {
  p {
    font-size: 1em;
  }
}
p:last-of-type {
  margin-bottom: 0px;
}
.button {
  display: inline-block;
  background: #841aff;
  padding: 10px 20px;
  border-radius: 9px;
  color: white;
  text-transform: uppercase;
  font-size: 1.1em;
  margin: 5px;
}
.button.facebook-messenger {
  background: #0084FF;
  position: relative;
  padding-left: 40px;
}
.button.facebook-messenger::before {
  display: block;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background: url(../images/facebook-messenger.svg);
  background-size: 30px 30px;
  content: " ";
}
@media screen and (min-width: 640px) {
  .mobileOnly {
    display: none;
  }
}
hr,
.heart {
  display: none;
}
section {
  padding-bottom: 50px;
}
section:nth-of-type(2),
section:nth-of-type(4) {
  background: #252525;
}
/* Generated by Font Squirrel (https://www.fontsquirrel.com) on June 27, 2016 */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'), url('../fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
body.iframe {
  background: transparent;
  overflow: hidden;
  padding: 0px;
}
body.iframe .chat {
  padding: 0px 10px 0px 10px;
  background: transparent;
}
@media screen and (max-height: 399px) {
  body.iframe .chat {
    padding: 0px;
  }
}
@media screen and (min-width: 640px) {
  body.iframe .chat {
    padding-bottom: 20px;
  }
}
body.iframe .flex .logos {
  display: none;
}
body.iframe .flex #messages {
  background: transparent;
}
@media screen and (max-height: 399px) {
  body.iframe .flex #messages {
    display: none;
  }
}
body.iframe .flex .input {
  background: transparent;
}
body.iframe .flex .input form {
  box-shadow: none;
  border: 1px solid rgba(132, 26, 255, 0.3);
}
body.iframe .flex .input form.hidden {
  opacity: 0;
}
body.iframe .flex .share {
  background: transparent;
}
body.iframe .flex .disclosure {
  color: black;
}
body.iframe .flex .disclosure em {
  opacity: 1;
}
@-webkit-keyframes dot {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
@keyframes dot {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
.dots > div {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 100px;
  background: #841aff;
  margin: 0px 2px;
}
.dots > div > div {
  background: white;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  opacity: 0.3;
  animation-duration: 1s;
  animation-name: dot;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0.33333333s;
}
.dots > div:first-child > div {
  animation-delay: 0s;
}
.dots > div:last-child > div {
  animation-delay: 0.66666667s;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
.copy {
  margin: 0 auto;
  max-width: 72ch;
}
.inline {
  display: inline;
  margin: 0;
  padding: 0;
}
.inline li {
  display: inline;
}
ul.piped li,
ol.piped li {
  margin: 0;
  padding: 0;
}
ul.piped li::before,
ol.piped li::before {
  content: '|\00a0';
  display: inline-block;
}
ul.piped li:first-child::before,
ol.piped li:first-child::before {
  content: '';
  display: none;
}
.share-button {
  display: inline-block;
  border-radius: 5px;
  color: white;
  margin: 0px 5px;
  font-size: .85em;
  text-align: center;
  text-transform: uppercase;
  width: 95px;
  line-height: 30px;
}
.share-button::before {
  margin-right: 5px;
  content: " ";
  display: inline-block;
  width: 22px;
  height: 25px;
  vertical-align: middle;
}
.facebook {
  display: inline-block;
  border-radius: 5px;
  color: white;
  margin: 0px 5px;
  font-size: .85em;
  text-align: center;
  text-transform: uppercase;
  width: 95px;
  line-height: 30px;
  background: #3B579D;
}
.facebook::before {
  margin-right: 5px;
  content: " ";
  display: inline-block;
  width: 22px;
  height: 25px;
  vertical-align: middle;
}
.facebook::before {
  background: transparent url(../images/facebook.png) -7px center no-repeat;
  width: 16px;
  background-size: 22px auto;
}
.twitter {
  display: inline-block;
  border-radius: 5px;
  color: white;
  margin: 0px 5px;
  font-size: .85em;
  text-align: center;
  text-transform: uppercase;
  width: 95px;
  line-height: 30px;
  background: #55acee;
}
.twitter::before {
  margin-right: 5px;
  content: " ";
  display: inline-block;
  width: 22px;
  height: 25px;
  vertical-align: middle;
}
.twitter::before {
  background: transparent url(../images/tweet.png) center center no-repeat;
  background-size: 22px auto;
}
.donate {
  display: inline-block;
  border-radius: 5px;
  color: white;
  margin: 0px 5px;
  font-size: .85em;
  text-align: center;
  text-transform: uppercase;
  width: 95px;
  line-height: 30px;
  background: #DF2000;
}
.donate::before {
  margin-right: 5px;
  content: " ";
  display: inline-block;
  width: 22px;
  height: 25px;
  vertical-align: middle;
}
.donate::before {
  background: transparent url(../images/heart-cropped.png) center center no-repeat;
  background-size: 18px auto;
}
.chat {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  padding: 0px 15px 0px 15px;
  background: #252525;
  opacity: 1;
  transition: all 0.5s ease-in;
  z-index: 9001;
}
.chat.transparent {
  opacity: 0;
}
.chat.hidden {
  display: none;
}
@media screen and (min-width: 360px) {
  .chat {
    padding-top: 10px;
  }
}
@media screen and (min-width: 640px) {
  .chat {
    position: static;
    max-width: 595px;
    width: 100%;
    height: 575px;
    margin: 0px auto 0px auto;
    padding: 45px 0 0 0;
    background: transparent;
  }
  .chat.transparent {
    opacity: 1;
  }
  .chat.hidden {
    display: block;
  }
}
.flex {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.flex .logos {
  flex-shrink: 0;
  margin-bottom: 5px;
  min-height: 35px;
}
@media screen and (min-width: 360px) {
  .flex .logos {
    margin-bottom: 20px;
  }
}
.flex .logos .logo {
  margin: 10px 0px 0px 15px;
  max-width: 120px;
  max-height: 40px;
  height: auto;
  transition: filter 0.5s ease-in;
}
@media screen and (min-width: 360px) {
  .flex .logos .logo {
    margin-left: 20px;
  }
}
@media screen and (min-width: 640px) {
  .flex .logos .logo {
    max-width: 170px;
    margin: 0px;
  }
  .flex .logos .logo.partner {
    margin-left: 15px;
  }
}
.flex .logos .fftf-logo {
  position: absolute;
  display: none;
  height: auto;
  max-width: 140px;
  right: 10px;
  top: 18px;
}
@media screen and (min-width: 360px) {
  .flex .logos .fftf-logo {
    display: block;
  }
}
@media screen and (min-width: 640px) {
  .flex .logos .fftf-logo {
    max-width: 218px;
    right: 0px;
    top: 10px;
  }
}
.flex .logos em {
  /*display: none;*/
  vertical-align: top;
  display: inline-block;
  font-size: .6em;
  color: rgba(255, 255, 255, 0.7);
  padding: 14px 0px 0px 2px;
}
@media screen and (min-width: 640px) {
  .flex .logos em {
    padding: 5px 0px 0px 4px;
    font-size: .8em;
  }
}
.flex .logos .powered-by {
  position: absolute;
  right: 10px;
  top: 4px;
  font-size: 10px;
}
@media screen and (min-width: 360px) {
  .flex .logos .powered-by {
    top: -3px;
    font-size: 11px;
  }
}
.flex .logos .powered-by strong {
  display: block;
  opacity: .8;
  margin-bottom: 3px;
}
.flex .logos .powered-by img {
  max-width: 100px;
  height: auto;
}
@media screen and (min-width: 640px) {
  .flex .logos .powered-by {
    top: -15px;
    font-size: 12px;
  }
}
.flex #messages {
  background-color: #252525;
  flex-grow: 1;
  overflow: auto;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0px, rgba(125, 185, 232, 0) 15px);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0px, rgba(125, 185, 232, 0) 15px);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0px, rgba(125, 185, 232, 0) 15px);
  -webkit-border-top-left-radius: 9px;
  -webkit-border-top-right-radius: 9px;
  -moz-border-radius-topleft: 9px;
  -moz-border-radius-topright: 9px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  padding: 20px 10px 0px 10px;
}
.flex #messages .clear {
  clear: both;
}
.flex #messages .dots {
  margin: 15px 0px;
}
.flex #messages .message {
  position: relative;
  display: inline-block;
  background: #841aff;
  border-radius: 9px;
  font-weight: 600;
  max-width: 400px;
  padding: 15px 20px;
  transition: all 0.3s ease-in;
  margin-top: 15px;
  font-size: .9em;
}
.flex #messages .message.minimized {
  transform: scaleY(0);
}
.flex #messages .message.bot {
  float: left;
  margin-left: 8px;
}
.flex #messages .message.bot a {
  color: #ffffff;
  text-decoration: underline;
}
.flex #messages .message.bot::after {
  display: block;
  position: absolute;
  bottom: 0px;
  left: -12px;
  width: 33px;
  height: 38px;
  background: url(../images/tail-left.svg);
  content: " ";
}
.flex #messages .message.user {
  float: right;
  background: #ffffff;
  color: #841aff;
  margin-right: 8px;
}
.flex #messages .message.user::after {
  display: block;
  position: absolute;
  bottom: 0px;
  right: -12px;
  width: 33px;
  height: 38px;
  background: url(../images/tail-right.svg);
  content: " ";
}
.flex #messages .message:first-child {
  margin-top: 0px;
}
@media screen and (min-width: 360px) {
  .flex #messages .message {
    font-size: 1em;
  }
}
@media screen and (min-width: 360px) {
  .flex #messages {
    padding: 20px 15px 0px 15px;
  }
}
@media screen and (min-width: 640px) {
  .flex #messages {
    padding: 30px 20px 10px 20px;
  }
}
.flex .disclosure {
  /* background: @chat-background; */
  flex-shrink: 0;
  text-align: center;
  font-size: .65em;
  padding: 15px 0px 10px 0px;
}
.flex .disclosure img {
  display: none;
  vertical-align: middle;
  margin-right: 3px;
  margin-bottom: 2px;
}
@media screen and (min-width: 360px) {
  .flex .disclosure img {
    display: inline-block;
  }
}
.flex .disclosure em {
  opacity: .5;
}
.flex .disclosure a.learn-more {
  font-weight: bold;
  display: inline-block;
}
@media screen and (min-width: 640px) {
  .flex .disclosure a.learn-more {
    padding: 10px 0px 10px 0px;
  }
}
body.my .flex .disclosure a {
  color: white;
  text-decoration: underline;
}
body.my .flex .disclosure a.learn-more {
  font-weight: normal;
  opacity: 0.5;
}
@media screen and (min-width: 640px) {
  .flex .disclosure {
    font-size: .85em;
    padding-bottom: 0px;
  }
}
.flex .input {
  background: #272440;
  position: relative;
  flex-shrink: 0;
  -webkit-border-bottom-right-radius: 9px;
  -webkit-border-bottom-left-radius: 9px;
  -moz-border-radius-bottomright: 9px;
  -moz-border-radius-bottomleft: 9px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}
.flex .input form {
  width: 100%;
  background: #ffffff;
  padding: 5px;
  box-shadow: 0px 0px 20px #841aff;
  transition: all 0.5s ease-in;
  display: flex;
  flex-direction: row;
  border-radius: 9px;
}
.flex .input form input {
  -webkit-appearance: none;
  background: white;
  border: 0px none white;
  font-size: 1em;
  width: 100px;
  color: #222;
  flex-grow: 10;
  padding-left: 10px;
}
@media screen and (min-width: 360px) {
  .flex .input form input {
    font-size: 1.1em;
    padding-left: 12px;
  }
}
@media screen and (min-width: 640px) {
  .flex .input form input {
    font-size: 1.2em;
    padding-left: 60px;
    background: url(../images/keypad.svg) 0px 0px no-repeat;
  }
}
.flex .input form input:focus {
  outline: none;
  outline-color: transparent;
  outline-style: none;
}
.flex .input form button {
  -webkit-appearance: none;
  background: #841aff;
  border-radius: 9px;
  font-size: 1.2em;
  font-weight: 800;
  color: white;
  text-transform: uppercase;
  border: 0px none transparent;
  padding: 0px;
  white-space: nowrap;
  width: 120px;
  height: 45px;
  line-height: 45px;
  cursor: pointer;
  flex-basis: 110px;
}
@media screen and (min-width: 480px) {
  .flex .input form button {
    flex-basis: auto;
  }
}
@media screen and (min-width: 640px) {
  .flex .input form button {
    width: 166px;
    height: 65px;
    line-height: 65px;
  }
}
.flex .input form.hidden {
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0);
  background: rgba(255, 255, 255, 0);
}
.flex .input .share {
  display: none;
  opacity: 0;
  transition: all 0.5s ease-in;
  min-height: 55px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #1d1b30;
  text-align: center;
  padding-top: 12px;
  -webkit-border-bottom-right-radius: 9px;
  -webkit-border-bottom-left-radius: 9px;
  -moz-border-radius-bottomright: 9px;
  -moz-border-radius-bottomleft: 9px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}
.flex .input .share a.donate {
  display: none;
}
@media screen and (min-width: 360px) {
  .flex .input .share a.donate {
    display: inline-block;
  }
}
@media screen and (min-width: 640px) {
  .flex .input .share {
    padding-top: 23px;
  }
  .flex .input .share a {
    margin: 0px 8px;
  }
}
.legal {
  left: 0px;
  top: 0px;
  width: 100%;
  padding: 10px 15px 0px 15px;
  background: #2f2b4d;
  opacity: 1;
  transition: all 0.5s ease-in;
  z-index: 9001;
}
.legal p,
.legal ul,
.legal h3 {
  text-align: left;
}
.legal h2 {
  padding-top: 0px;
}
.legal h3 {
  font-size: 1.5em;
}
.legal ul {
  list-style-type: circle;
  font-size: .9em;
  margin-left: auto;
  margin-right: auto;
  max-width: 585px;
  padding: 0px 10px;
  margin-bottom: 25px;
}
@media screen and (min-width: 640px) {
  .legal ul {
    font-size: 1em;
  }
}
@media screen and (min-width: 640px) {
  .legal {
    max-width: 595px;
    width: 100%;
    margin: 0px auto 0px auto;
    padding: 0;
    background: transparent;
  }
}
.legal strong {
  font-weight: bold;
}
.legal em {
  font-style: italic;
}
.legal button {
  display: block;
  -webkit-appearance: none;
  background: #841aff;
  border-radius: 9px;
  font-size: 1em;
  font-weight: 800;
  color: white;
  text-transform: uppercase;
  border: 0px none transparent;
  padding: 0px 20px;
  white-space: nowrap;
  margin: 0px auto;
  height: 45px;
  line-height: 45px;
  cursor: pointer;
  flex-basis: 110px;
}
@media screen and (min-width: 480px) {
  .legal button {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 480px) {
  .legal button {
    flex-basis: auto;
  }
}
@media screen and (min-width: 640px) {
  .legal button {
    height: 65px;
    line-height: 65px;
  }
}
#footer {
  text-align: center;
  padding: 20px 15px 40px 15px;
}
#footer img {
  max-width: 100%;
  width: 400px;
  height: auto;
  display: block;
  margin: 0px auto;
}
#footer p {
  margin-bottom: 0px;
}
#footer li {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.6);
  font-size: .8em;
}
#beta {
  display: table;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9001;
  transition: all 0.5s ease-in;
  background: #4d2b33;
}
#beta > div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 300px;
  margin: 0px auto;
}
#beta img {
  filter: hue-rotate(100deg);
  width: 300px;
  height: auto;
}
#beta h2 {
  padding-top: 0px;
  margin-bottom: 7px;
  font-weight: bold;
  display: none;
}
#beta p {
  max-width: 300px;
  margin: 30px auto;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.3em;
}
#beta p.error {
  color: pink;
}
#beta p.error a {
  color: #ff644d;
}
#beta form {
  width: 300px;
  margin: 0px auto;
  background: #ffffff;
  padding: 5px;
  transition: all 0.5s ease-in;
  display: flex;
  flex-direction: row;
  border-radius: 9px;
}
#beta form input {
  -webkit-appearance: none;
  background: white;
  border: 0px none white;
  font-size: 1em;
  width: 100px;
  color: #222;
  flex-grow: 10;
  padding-left: 10px;
}
#beta form button {
  -webkit-appearance: none;
  background: #ff381a;
  border-radius: 9px;
  font-size: 1.1em;
  font-weight: 800;
  color: white;
  text-transform: uppercase;
  border: 0px none transparent;
  padding: 0px;
  white-space: nowrap;
  width: 120px;
  height: 45px;
  line-height: 48px;
  cursor: pointer;
  flex-basis: 115px;
}
#beta form button:hover {
  background: #cd1a00;
}
#beta form.error {
  box-shadow: 0px 0px 20px #ff381a;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@media screen and (min-width: 640px) {
  #beta form {
    width: 340px;
  }
}
body.content {
  overflow: auto;
  height: 100%;
  position: static;
}
body.content header {
  margin-left: auto;
  margin-right: auto;
  max-width: 595px;
  text-align: center;
  padding: 0px 10px;
  padding-top: 20px;
}
@media screen and (min-width: 640px) {
  body.content header {
    padding: 0px;
  }
}
@media screen and (min-width: 640px) {
  body.content header {
    padding: 40px;
  }
}
@media screen and (min-width: 640px) {
  body.content h1:first-of-type {
    padding-top: 0px;
  }
}
body.content p:last-of-type {
  margin-bottom: 60px;
}
body.content code,
body.content .iframe-container {
  background: rgba(0, 0, 0, 0.4);
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  font-family: 'Courier New', 'Courier', mono;
  color: #d6b3ff;
}
body.content .iframe-container {
  margin-bottom: 25px;
  width: 100%;
}
body.content .iframe-container.transparent {
  background: transparent;
}
.video {
  margin: 0px auto 25px auto;
  max-width: 595px;
}
.video .wrapper {
  border: 10px solid transparent;
  border-radius: 10px;
  height: 0;
  margin: 0px;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}
.video .wrapper iframe,
.video .wrapper object,
.video .wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
