
body {
    font-size: 62.5%;
    color: #000000;
    background-image: url('../images/b2.png');
    background-repeat: repeat;
}

::selection {
	background: #2d3d4c; /* Safari */
    color: #fff;
	}
::-moz-selection {
	background: #2d3d4c; /* Firefox */
    color: #fff;
}

strong {
	font-weight: bold;
}

.white-text{
	color: #ffffff;
}

.blue-text{
	color: #97e8d7;
}

.blue-text-line{
	color: #97e8d7;
	font-weight: bold;
}

h3.also_important  a.red-text, .red-text{
	color: #d94d36;
}

h1{
	font-family: 'Rambla', Arial;
	font-size: 22px;
	color: #fff;
	text-align: center;
	line-height: 27px;
	font-weight: normal;
}



#container {
    width: auto;
    margin: 0 auto;
    text-align: left;
    position: relative;
    padding-top: 50px;
}

#header{
	width: 100%;
	height: 702px;
	background-image: url('../images/background-body.jpg');
	background-color: #1b242e;
	background-repeat:repeat;
}

#top-line{
	width: 100%;
	height: 8px;
	background-image: url('../images/top-line.jpg');
}

#header-center{
	margin: 0px auto;
	width: 960px;
	height: 694px;
}


.linedevider{
	width: 960px;
	height: 4px;
	margin: 0px auto;
	background-image: url('../images/line.png');
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 20px;
	float: left;
}

.linedevider2{
	width: 750px;
	height: 10px;
	margin: 0px auto;
	background-image: url('../images/line2.png');
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 35px;
	float: left;
	opacity: 0.8;
}

.linedevider3{
	width: 750px;
	height: 10px;
	margin: 0px auto;
	background-image: url('../images/line2.png');
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	float: left;
	opacity: 0.8;
}


#phrase{
	width: 960px;
	height: 206px;
	margin: 0px auto;
	margin-top: 20px;
	float: left;
}

#phrase img{
	float: left;
}

.quote-top{
	width: 960px;
	height: 65px;
	margin: 0px auto;
	margin-top: 5px;
	float: left;
}

.quote-bottom{
	width: 960px;
	height: 65px;
	margin: 0px auto;
	margin-top: 10px;
	float: left;
}


#fading-quote{
	width:960px;
	height: 37px;
	margin-top: 5px;
	float: left;
	text-align: center;
	background-color: none;
}


.quote-holder{
    width: 700px;
	margin: 0px auto;
	background-color: #131b22;
	height: 28px;
	border-bottom: 1px solid #2a3743;
	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow:         inset 0 0 10px #000000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    padding-top: 10px;3
}



.quote-holder p{
	text-align: center;
	font-family: 'Rambla', Arial;
	font-size: 16px;
	color: #fff;
	font-weight: normal;
	line-height: 17px;
    display: none;
    margin-top: 10px;
    width: 100%;
}

#middle-devider{
	width: 100%;
	height: 24px;
	background-image: url('../images/bottomline.jpg');
}


#clock{
	width: 960px;
	height: 221px;
	margin: 0px auto;
	margin-top: 20px;
	float: left;
	
	
}

#clock img{
	float: left;
}


.quote-action{
	width: 800px;
	height: 50px;
	margin: 0px auto;
	margin-top: 35px;
	float: left;
}

.quote-action h1{
	color: #1b242e;
    margin-top: -20px; float: left;
}


#action-form{
	width: 800px;
	margin: 0px auto;
	height: 284px;
	z-index: 7;
    background-color: #ffffff;
    background-image: url('../images/actionb.png');
    background-repeat: repeat;
    border: 1px solid #d5d9d6;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: 0px 0px 10px #8a8a8a;
    -webkit-box-shadow: 0px 0px 10px #8a8a8a;
    box-shadow: 0px 0px 10px #8a8a8a;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
    clear: both;
    position: relative;
    top: 50px;
}

.forms{
	margin: 0px auto;
	width: 763px;
	padding-left: 37px;
	margin-top: 35px;
}

.forms input{
	height: 35px;
background-color: #ffffff;
border: 1px solid #a1a9ab;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow: 0px 1px #fffafa;
-webkit-box-shadow: 0px 1px #fffafa;
box-shadow: 0px 1px #fffafa;
filter: progid:DXImageTransform.Microsoft.Shadow(strength = 1, direction = 180, color = '#fffafa');
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 1, Direction = 180, Color = '#fffafa')";
/*Shadows look very different in IE (Only cardinal directions supported)*/
/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
/*Element should have a background-color*/
/*All filters must be placed together*/
-moz-box-shadow: inset 0px 1px 3px #dee1e1;
-webkit-box-shadow: inset 0px 1px 3px #dee1e1;
box-shadow: inset 0px 1px 3px #dee1e1;
/*Inner elements should not cover inner shadows*/
/*IE 7 AND 8 DO NOT SUPPORT INSET SHADOWS*/
	
	padding-left: 8px;
	margin-left: 5px;
	font-size: 14px;
	float: left;
	
}

.forms button{
    cursor: pointer;
float: left;
color: white;
font-size: 14px;
margin-left: 5px;
width: 170px;
	height: 39px;
	background-image: linear-gradient(bottom, rgb(22,167,133) 29%, rgb(26,183,154) 65%);
	background-image: -o-linear-gradient(bottom, rgb(22,167,133) 29%, rgb(26,183,154) 65%);
	background-image: -moz-linear-gradient(bottom, rgb(22,167,133) 29%, rgb(26,183,154) 65%);
	background-image: -webkit-linear-gradient(bottom, rgb(22,167,133) 29%, rgb(26,183,154) 65%);
	background-image: -ms-linear-gradient(bottom, rgb(22,167,133) 29%, rgb(26,183,154) 65%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.29, rgb(22,167,133)),
		color-stop(0.65, rgb(26,183,154))
	);
	
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #1b816c;
	
	-moz-box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 1px 1px rgba(69,214,187,0.5);
	-webkit-box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 1px 1px rgba(69,214,187,0.5);
	box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 1px 1px rgba(69,214,187,0.5);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
}

textarea{
float: left;
	height: 75px;
	width: 730px;
	background: transparent;
	border: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fcfcfc', endColorstr = '#ffffff');
	/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fcfcfc', endColorstr = '#ffffff')";
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	/*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/

	padding:8px;
	margin-left: 0px;
	margin-top: 10px;

	padding-bottom: 10px;
	color: #666d75;
	font-size: 13px;
	line-height: 19px;
	font-family: arial;
	resize:none;
	
}

#organize{
	float: left;
	margin-left: 8px;
	margin-top: -4px;
}

p.disclosure {
    font-family: arial;
    font-size: 11px;
    float: left;
    width: 100%;
    text-align: center;
    color: #666;
}
p.disclosure a {
    color: #333;
}
.fftf{
	font-family: arial;
	font-size: 13px;
	color: #364350;
	float: left;
	margin-top: 7px;
	margin-left: 3px;
}

.fftf a{
	font-family: arial;
	font-size: 13px;
	color: #d94d36;
	font-weight: bold;
}


#bodybottom{
    
    width: 750px;
    margin: 0px auto;
}


.quote-body{
	width: 750px;
	margin: 0px auto;
	margin-top: 100px;
	float: left;
	text-align: center;
}

.quote-body h1, h3.also_important {
    font-family: 'Rambla', Arial;
	color: #1b242e;
	font-size: 30px;
	line-height: 38px;
    display: block;
    overflow: auto;
    float: left;
    font-weight: normal;
}

h3.also_important a {
    color: #1b242e;
}

.quote-body2{
	width: 750px;
	height: 50px;
	margin: 0px auto;
	margin-top: 20px;
	float: left;
	text-align: center;
}

.quote-body2 h1{
	color: #1b242e;
	font-size: 30px;
	line-height: 38px;
}

.icons{
	width: 750px;
	height: 240px;
	float: left;
	margin-top: 25px;
}

.icon{
	width: 205px;
	height: 240px;
	float: left;
	margin-left: 35px;
}

.icon p, .long p{
	font-family: arial;
	font-size: 14px;
	line-height: 17px;
	color: #515151;
	text-align: center;
	margin-top: 10px;
}

.long {
    clear: both;
    float: left;
    margin-top:40px;
}

.long p{
    margin-bottom: 20px;
    text-align: left;
}

.name{
	width: 135px;
}

.email{
	width: 135px;
}

.address{
	width: 150px;
}

.zip{
	width: 60px;
}



@-moz-keyframes animation3 {
	from {
		-moz-transform: scale(0.1);
		opacity: 0;
	}
	70% {
		-moz-transform: scale(1);
		opacity: 0.8;
	}
	to {
		-moz-transform: scale(1);
		opacity: 1;
	}
}
@-webkit-keyframes animation3 {
	from {
		-webkit-transform: scale(0.1);
		opacity: 0;
	}
	70% {
		-webkit-transform: scale(1);
		opacity: 0.8;
	}
	to {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}
.animation{
	-moz-animation: animation3 2s;
	-webkit-animation-name: animation3;
	-webkit-animation-duration: 1s;
}

@-webkit-keyframes animation5 {
	from {
		top: 0;
		opacity: 0;
	}
	to {
		margin-top: /*px*/;
		opacity: 1;
	}
}
@-moz-keyframes animation5 {
	from {
		top: 0;
		opacity: 0;
	}
	to {
		margin-top: /*px*/;
		opacity: 1;
	}
}
.animation2{
	-moz-animation: animation5 5s;
	-webkit-animation-name: animation5;
	-webkit-animation-duration: 5s;
}




#tag{
width: 67px;
height: 228px;
position:fixed;
left: 0px;
z-index: 500;
margin-top: 200px;
background: url('//internetdefenseleague.org/images/fftf_tag.png');
text-indent: -9999px;
}

#efftag{
    text-indent: -9999px;
    width: 67px;
    height: 112px;
position:fixed;
left: 0px;
z-index: 500;
margin-top: 450px;
background: url('/images/EFF-logo.png');
}
EFF-logo.png