---
layout: none
permalink: /404.html
---
<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="google-site-verification" content="RA_POCdgh3gHSCy5g8X6xhMuu-t03xSQDWID-vbkhJ4"/>
  <title>Fight for the Future, defending our basic rights and freedoms</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="/css/screen.css">
  <link rel="stylesheet" href="/css/homepage.css">
  <link href='//fonts.googleapis.com/css?family=Montserrat|Oleo+Script' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="/fav.png">
</head>

<body>
<header>
  <form class="donateask" action="https://donate.fightforthefuture.org">
    <div class="wrap topish">
      <fieldset>
        <p class="oleo">help out!</p>
        <input type="number" placeholder="$40" name="amount"/>
        <button class="bebas">Donate</button>
      </fieldset>
    </div>
  </form>

  <div class="top_border"></div>
  <div class="wrap">
    <div class="xoxo">&lt;3</div>
  </div>

  <a href="/" id="homelinkage">Home</a>

  <div class="banner">
    <div class="wrap">
      <h2 class="palatino">A nonprofit working to expand the internet's power
        for good</h2>

      <h1><a href="https://www.fightforthefuture.org">Fight for the Future</a>
      </h1>
    </div><!-- close .wrap -->
  </div>
</header>

<div class="superfluous"></div>

<div role="main">
  <div class="wrap">
  </div>
  <div class="error">
    <img class="float_l big_heart" src="/images/new/cracked_heart.png" alt="cracked heart">

    <div class="error_block float_l">
      <h3 class="float_l huge_title montserrat">Oops,</h3>

      <h3 class="montserrat error_txt clear_l">the page you're looking for
        doesn't exist. If it should:
        <a href="mailto:team@fightforthefuture.org?Subject=FFTF Error Page">email
          us</a></h3>
    </div>
  </div>
</div>

  <div class="bordertwo" id="staff">
    <h5><a href="/"></a></h5>
  </div>

  <footer>
    <div class="wrap">
      <div class="info">
        <ul class="social">
          <li class="oleo">Follow us!</li>
          <li class="thing fb">
            <a href="https://www.facebook.com/fightfortheftr">Follow us on
              Facebook</a></li>
          <li class="thing tw"><a href="http://twitter.com/fightfortheftr">Follow
            us on Twitter</a></li>
        </ul>
        <ul class="nav montserrat">
          <li><a href="/aboutus/index.html">About us</a></li>
          <li><a href="/timeline">Our history</a></li>
          <li><a href="/press/">Press</a></li>
          <!--<li><a href="/supporters/index.html">Supporters</a></li>-->
          <li><a href="/jobs">Jobs</a></li>
          <li><a href="/supporters/index.html">Supporters</a></li>
        </ul>
      </div><!-- close .info -->

      <div class="copyleft">
        <p>
          For press inquiries, please call: (508) 368-3026 or email
          <a href="mailto:press@fightforthefuture.org">press@fightforthefuture.org</a>
          (Press Inquiries Only)
        </p>

        <p>
          For all other inquiries, please email
          <a href="mailto:team@fightforthefuture.org">team@fightforthefuture.org</a>
          | PO Box 55071 #95005 Boston, MA 02205 |
          <a href="https://www.fightforthefuture.org/privacy">Privacy Policy</a>
          |
          <a href="https://plus.google.com/102356128596404327231" rel="publisher">Google+</a>
        </p>

        <p class="lastask">
          Our organization works hard to organize against threats to our basic
          rights, please help keep up going and visit our
          <a href="https://donate.fightforthefuture.org" class="donateplz">donate
            page</a>.
        </p>
      </div>
    </div><!-- close .wrap -->
  </footer>

  <script type="text/template" id="template-tumblr-regular">
    <div class="story tumblr-regular">
      <p class="date"><%= post['date'] %></p>
      <h5><a href="<%= post['url-with-slug'] %>"><%= post['regular-title']
        %></a></h5>
      <%= post['regular-body'] %>
      <p><a class="view-on-tumblr" href="<%= post['url-with-slug'] %>">View on
        Tumblr</a></p>
    </div>
  </script>
  <script type="text/template" id="template-tumblr-link">
    <div class="story tumblr-link">
      <p class="date"><%= post['date'] %></p>
      <h5><%= post['link-text'] %></h5>
      <%= post['link-description'] %>
      <p><a class="view-on-tumblr" href="<%= post['url-with-slug'] %>">View on
        Tumblr</a></p>
    </div>
  </script>
  <script type="text/template" id="template-tumblr-photo">
    <div class="story tumblr-photo">
      <p class="date"><%= post['date'] %></p>
      <img src="<%= post['photo-url-250'] %>"/>
      <%= post['photo-caption'] %>
      <p><a class="view-on-tumblr" href="<%= post['url-with-slug'] %>">View on
        Tumblr</a></p>
    </div>
  </script>
  <script type="text/template" id="template-tumblr-quote">
    <div class="story tumblr-quote">
      <p class="date"><%= post['date'] %></p>

      <p class="quote-text"><%= post['quote-text'] %></p>

      <p>&mdash; <%= post['quote-source'] %></p>

      <p><a class="view-on-tumblr" href="<%= post['url-with-slug'] %>">View on
        Tumblr</a></p>
    </div>
  </script>
  <script type="text/template" id="template-tumblr-video">
    <div class="story tumblr-video">
      <p class="date"><%= post['date'] %></p>

      <p class="video"><%= post['video-player-250'] %></p>
      <%= post['video-caption'] %>
      <p><a class="view-on-tumblr" href="<%= post['url-with-slug'] %>">View on
        Tumblr</a></p>
    </div>
  </script>

  <script src="/js/libs/libraries.js"></script>
  <script async src="/js/homepage.js"></script>
  <script async src="/js/script.js"></script>
  <script async src="/js/echo.js"></script>
  <script async src="/js/idl.js"></script>

</body>
</html>
