


.header{
	width: 100%;
	
	height: 520px;
	background-color: #1ed9c5;
	background: no-repeat fixed;
	background-image: url('background.jpg');
	background-position: top center;
	padding-top: 40px;

		
}

#content { 
	width: 100%;
 height: 4460px;
 padding-bottom: 200px;
 background-image: url(patt.png);
 background-repeat: repeat;
}


.middle{
	width: 1000px;
	height: 520px;
	margin: 0px auto;

}

.middlecontent{
	width: 1000px;
	height: 500px;
	margin: 0px auto;
}

.middle img{
	margin-top: 30px;	
	float: left;
}


.middle p{
text-transform: uppercase;
letter-spacing: .5em;
display: inline-block;
border: 4px double rgba(255,255,255,.25);
border-width: 4px 0;
padding: 1.5em 0em;
width: 800px;
text-align: center;
margin-top: 230px;
margin-left: 100px;
font-family: montserrat;
color: white;
text-shadow: 0 1px 0 rgba(89,89,89,.75); /* drop shadow */
}

.middle h2{
	font-family: Montserrat;
	font-size: 22px;
	color: #fff;
	text-align: Center;
	line-height: 28px;
	width: 800px;
	float: left;
	margin-left: 105px;
	margin-top: 15px;
}

.middle p span{

	font: 700 4em/1 Montserrat, sans-serif;
	letter-spacing: 0;
	padding: .25em 0 .325em;
	display: block;
	margin: 0 auto;
	text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

	background: url('pattern.png') repeat-y;
	-webkit-background-clip: text;

/* Animate Background Image */

	-webkit-text-fill-color: transparent;
	-webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

	-webkit-transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
}

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}

@keyframes bigEntrance {
	0% {
		transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);		
		opacity: 1;
	}
	45% {
		transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	60% {
		transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	75% {
		transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	90% {
		transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	100% {
		transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}		
}

@-webkit-keyframes bigEntrance {
	0% {
		-webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		-webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);		
		opacity: 1;
	}
	45% {
		-webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	60% {
		-webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	75% {
		-webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	90% {
		-webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	100% {
		-webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}				
}

@-moz-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-o-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

.supporter{
	float: left;
	margin-top: 30px;
}

.supporter h1{
	font-family: Montserrat;
	font-size: 40px;
	color: #404040;
	float: left;
	width: 1000px;
	text-align: center;
	font-weight: bold;
	margin-top: 45px;
	text-shadow: 0 5px 0 rgba(206,206,206,.44); 
	
}

.supporter h3{
	font-family: Montserrat;
	font-size: 22px;
	color: #979797;
	width: 1000px;
	float: left;
	text-align: center;
	margin-top: 15px;
	line-height: 28px;
	
}

.sup{
	width: 440px;
	height: 120px;
	margin-left: 30px;
	margin-right: 20px;
	float: left;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px; /* border radius */
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box; /* prevents bg color from leaking outside the border */
background-color: #fff; /* layer fill content */
-moz-box-shadow: 0 2px 2px rgba(0,0,0,.09); /* drop shadow */
-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.09); /* drop shadow */
box-shadow: 0 2px 2px rgba(0,0,0,.09); /* drop shadow */
	padding-top: 13px;
	-webkit-transition:  0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out;
	-ms-transition:  0.3s ease-in-out;
	-o-transition:  0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	margin-bottom: 30px;

}

.sup p a{
	font-family: helvetica;
	font-size: 14px;
	color: #5d5d5d;
	text-decoration: underline;
	line-height: normal;
	float: none;
	color: #3aa5e9;
}


.sup:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #fff; /* layer fill content + color overlay */
	-moz-box-shadow: 0 5px 9px rgba(0,0,0,.19); /* drop shadow */
	-webkit-box-shadow: 0 5px 9px rgba(0,0,0,.19); /* drop shadow */
	box-shadow: 0 5px 9px rgba(0,0,0,.19); /* drop shadow */
}

.sup img{
	float: left;
	width: 90px;
	height: 90px;
	border: 5px solid #d5e2e5; /* stroke */
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from */
	margin-left: 13px;
	margin-right: 9px;

}

.sup a{
	float: left;
	font-family: Montserrat;
	font-size: 23px;
	color: #363e3f;
	text-decoration: none;
	line-height: 30px;
}

.sup p{
	float: left;
	font-family: helvetica;
	font-size: 14px;
	color: #5d5d5d;
	text-decoration: none;
	width: 290px;
	line-height: 20px;
}


.sups{
	width: 440px;
	height: 120px;
	margin-left: 280px;
	margin-right: 20px;
	float: left;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px; /* border radius */
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box; /* prevents bg color from leaking outside the border */
background-color: #fff; /* layer fill content */
-moz-box-shadow: 0 2px 2px rgba(0,0,0,.09); /* drop shadow */
-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.09); /* drop shadow */
box-shadow: 0 2px 2px rgba(0,0,0,.09); /* drop shadow */
	padding-top: 13px;
	-webkit-transition:  0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out;
	-ms-transition:  0.3s ease-in-out;
	-o-transition:  0.3s ease-in-out;
	transition: 0.3s ease-in-out;

}

.sups:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #fff; /* layer fill content + color overlay */
	-moz-box-shadow: 0 5px 9px rgba(0,0,0,.19); /* drop shadow */
	-webkit-box-shadow: 0 5px 9px rgba(0,0,0,.19); /* drop shadow */
	box-shadow: 0 5px 9px rgba(0,0,0,.19); /* drop shadow */
}

.sups img{
	float: left;
	width: 90px;
	height: 90px;
	border: 5px solid #d5e2e5; /* stroke */
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from */
	margin-left: 13px;
	margin-right: 9px;

}

.sups a{
	float: left;
	font-family: Montserrat;
	font-size: 23px;
	color: #363e3f;
	text-decoration: none;
	line-height: 30px;
}

.sups p{
	float: left;
	font-family: helvetica;
	font-size: 14px;
	color: #5d5d5d;
	text-decoration: none;
	width: 290px;
	line-height: 20px;
}

.items{
	width: 1000px;
	float: left;
	height: auto;
	background-image: url(kllapa.png);
	background-position: top center;
	background-repeat: no-repeat;
	padding-top: 60px;
}

.items-s{
	width: 1000px;
	float: left;
	height: auto;
	background-image: url(kllapa2.png);
	background-position: top center;
	background-repeat: no-repeat;
	padding-top: 60px;
}

.smallth{
	width: 850px;
	float: left;
	margin-left: 100px;
}


.smallthh{
	width: 800px;
	float: left;
	margin-left: 190px;
}
.smalll{
	height: 40px;
	float: left;
	margin-top: 30px;
	margin-left: 15px;
	-webkit-transition:  0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out;
	-ms-transition:  0.3s ease-in-out;
	-o-transition:  0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.smalll-single{
	height: 40px;
	float: left;
	margin-top: 30px;
	margin-left: 220px;

	-webkit-transition:  0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out;
	-ms-transition:  0.3s ease-in-out;
	-o-transition:  0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.smalll:hover{
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
-o-transform: scale(1.05);
-ms-transform: scale(1.05);
transform: scale(1.05);
}



.smallth img{
	height: 40px;
	width: 40px;
	float: left;
	border: 6px solid #efefef; /* stroke */
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: white; /* layer fill content */
	
}

.smallth a{
float: left;
font-family: Montserrat;
font-size: 16px;
color: #363e3f;
text-decoration: none;
line-height: 55px;
padding-left: 15px;
	
}

.smallthh img{
	height: 40px;
	width: 40px;
	float: left;
	border: 6px solid #efefef; /* stroke */
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #fc6656; /* layer fill content */
	
}

.smallthh a{
float: left;
font-family: Montserrat;
font-size: 16px;
color: #363e3f;
text-decoration: none;
line-height: 55px;
padding-left: 15px;
	
}

.link{
	text-decoration: none;
	color: #f6cd2a;
}

.suppp{
	width: 1000px;
	height: 50px;
	float: left;
	background-image: url(sup.png);
	margin-top: 70px;
}

form.donateask {
	width: 100%;
	background: #000;
	overflow: auto;
	padding: 8px 0px;
	border-bottom: 5px solid #f1453b;
	position: fixed;
	z-index: 98;
}

fieldset {width: 265px; float: right;}


form.donateask input,
form.donateask button,
form.donateask p {display: inline-block; margin-left: 3px;}

form.donateask p {font-size: 20px;}
form.donateask input, button {width: 70px; padding-top: 5px; padding-bottom: 5px; border: 0; font-size: 21px; text-align: center; }
form.donateask button {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; /* future proofing */
	font-size: 22px;  
	background: #FBC337; 
	color: #332503; 
	padding-bottom: 3px; 
	-webkit-transition: background 0.5s ease; 
  	-moz-transition: background 0.5s ease;
  	-o-transition: background 0.5s ease;
  	transition: background 0.5s ease;
  	width: 100px;
  	cursor: pointer;
}
form.donateask button:hover {background: #f69100; }

.storelink {width: 235px; float: left; margin-top: 10px}
.storelink a {padding-top: 5px; padding-bottom: 5px; border: 0; font-size: 21px; text-align: center; padding-left: 8px; padding-right: 8px; margin-left: 5px; }
.storelink a {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; /* future proofing */
	font-size: 22px;  
	background: #FBC337; 
	color: #332503; 
	padding-bottom: 3px; 
	-webkit-transition: background 0.5s ease; 
  	-moz-transition: background 0.5s ease;
  	-o-transition: background 0.5s ease;
  	transition: background 0.5s ease;
  	text-decoration: none;
  	margin-top: 10px;
}
.storelink a:hover {background: #f69100; }


@-moz-document url-prefix() {
    form.donateask button {padding-bottom: 1px;}
}
.wrap {
	width: 940px;
	margin: 0 auto;
}

.oleo {font-family: 'Oleo Script', cursive; color:white;}
.palatino {font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;}
.montserrat {font-family: 'Montserrat', sans-serif;}
.bebas {font-family: 'Montserrat'; font-size:16px}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('www.fightforthefuture.org/webfonts/BebasNeue-webfont.eot');
    src: url('www.fightforthefuture.org/webfonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('www.fightforthefuture.org/webfonts/BebasNeue-webfont.woff') format('woff'),
         url('www.fightforthefuture.org/webfonts/BebasNeue-webfont.ttf') format('truetype'),
         url('www.fightforthefuture.org/webfonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

div.xoxo {
	width: 49px;
	height: 49px;
	background: url(heart.png) no-repeat;
	text-indent: -9999px;
	margin-top: 32px;
	position: absolute;
	z-index: 3;
	margin-left: 440px;
	position: fixed;
	z-index: 99;
}

footer {
	background: url(striped_background.png);
	margin-bottom: 0; 
	padding-bottom: 50px; 
	margin-top: -50px; 
	padding-top: 100px; 
	z-index: 5;
}

.info .nav {float: left; margin-top: 12px; }
.info .nav li {display: inline-block; font-size: 14px;}

.info .nav li a {
	display: inline-block;
	width: 106px;
	height: 30px;
	padding-top: 10px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	padding-left: 5px;
}

.info .nav li:first-child {
	margin-right: 18px;
}


.nav li.active a {position: relative; z-index: 6;background: url(active_tab.png) no-repeat;}
.info .data {
	clear: both;
	float: left;
	margin-top: -4px;
	position: relative;
	z-index: 5;
	width: 932px;
	height: 688px;
	overflow: hidden;
/*    background: url(/images/new/data_background.png) no-repeat;
*/	padding-left: 30px;
	padding-top: 30px;
	margin-bottom: 40px;
}

.info .data .person {
	width: 410px;
	height: 155px;
	display: inline-block;
	padding-right: 50px;
}

.social {float: right; width: 160px; margin-bottom: 20px;}
.social li {display: inline-block;}
.social li.oleo {font-size: 19px; text-shadow: 2px 2px 2px rgba(0,0,0,.75); float: left; margin-right: 10px; line-height:30px}
.social li.thing a {width: 30px; height: 30px;text-indent: -9999px; display: inline-block; margin-left: 5px;}
.social li.tw a {background: url(social_twitter.png) no-repeat; }
.social li.fb a {background: url(social_facebook.png) no-repeat; text-indent: -9999px;}

.person img {float: left; width: auto;}
.person .details {float: right; width: 280px;}
.person p {font-size: 13px; color: #b7b6b6;}
.person h4 {font-weight: bold; margin-bottom: 5px; margin-top: -5px;}
.person a {color: #fff;}


.bordertwo {
	width: 100%;
	background: url(logotwobackground.png) repeat-x;
	clear: both;
	height: 83px;
	overflow: auto;
	margin-top: 20px;
	position: relative; z-index: 4;
}

.bordertwo h5 a {
	margin: 0 auto;
	width: 236px;
	height: 40px;
	text-indent: -999px;
	background: url(logotwo.png) no-repeat;
	margin-top: 20px;
	display: block;
}

	.copyleft{
		padding: 0; margin: 0; height: auto; margin-bottom: 20px; padding-left: 25px; padding-right: 10px;
		font-family: Helvetica; line-height: 20px;
		
	}
	
	.copyleft {font-size: 13px; color: #a8a8a8; clear: both;}
	.copyleft a {font-weight: bold;color: #a8a8a8;}
	
	.copyleft p.lastask {color: #fff; margin-top: 20px; margin-bottom: 50px;}
	.copyleft p.lastask a {color: #14a767;}