* {
  box-sizing: border-box
}

html, body {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  font-family: @body-font;
  padding-top: 5.5rem;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @display-font;
}

img {
  height: auto;
  max-width: 100%;
}
