---
layout: core-only
stylesheet: petitions
component-scripts: petitions
class: clean-edge petition
---

<header class="stickybar {{ page.design }}">
  <span class="stickybar-fftf-logo">
    Fight for the Future
  </span>
  <ul class="stickybar-share-donate">
    <li class="stickybar-share-links">
      <a href="https://facebook.com/sharer.php?u={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}" class="stickybar-facebook-share">
        facebook
      </a>
      <a href="https://twitter.com/intent/tweet?text={% if page.share.tweet %}{{ page.share.tweet | cgi_escape }}{% else %}{{ site.description | cgi_escape }}{% endif %}&amp;url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&amp;via=fightfortheftr" class="stickybar-twitter-share">
        Twitter
      </a>
    </li>
    <li class="stickybar-donate">
      <a href="https://donate.fightforthefuture.org?amount={{ page.default_donation_amount }}&amp;frequency={{ page.default_donation_frequency }}&amp;utm_source=petitions&amp;utm_medium=web&amp;utm_campaign={{ page.title | slugify }}">
        <span class="hover-heart">&#x2665;</span>
        Donate ${{ page.default_donation_amount }}
      </a>
    </li>
  </ul>
</header>

<header class="hero {{ page.design }}">
  <h1>{{ page.headline }}</h1>
</header>

{% if page.additional_fields contains 'null' %}{% assign fields_class = 'length-0' %}{% else %}
{% capture fields_class %}length-{{ page.additional_fields | size }}{% endcapture %}{% endif %}
<main class="{{ page.design }}">
  <section class="petition-box">
    <article class="petition-text">
      <h2 id="petition-title">{{ page.petition_title }}</h2>
      <blockquote>
        {{ page.petition_copy | markdownify }}
      </blockquote>
    </article>

    <figure class="signatures">
      <figcaption class="progress-top">
        <span id="total-sigs">0</span> supporters
      </figcaption>
      <figcaption id="sigs-to-go" class="progress-bottom">
        25 needed to reach 25
      </figcaption>
      <progress id="signatures-progress-bar" value="0" max="25"></progress>
    </figure>

    <form id="petition-form" class="petition-form" accept-charset="UTF-8" action="https://actionnetwork.org/petitions/{% if page.petition_slug != '' %}{{ page.petition_slug }}{% else %}{{ page.petition_title | slugify }}{% endif %}/signatures" method="post" data-host="{{ site.petitions_api }}">
      {% if page.additional_fields contains 'name' %}
      <label class="visually-hidden" for="form-first_name">Name{% unless page.required_fields contains 'name' %} (optional){% endunless %}:</label>
      <input type="text" id="form-first_name" class="name {{ fields_class }}" name="signature[first_name]" placeholder="Name{% unless page.required_fields contains 'name' %} (optional){% endunless %}" {% if page.required_fields contains 'name' %} required{% endif %}/>
      {% endif %}

      <label class="visually-hidden" for="form-email">Email:</label>
      <input type="email" id="form-email" name="signature[email]" class="email {{ fields_class }}" placeholder="Email" required/>

      {% if page.additional_fields contains 'street_address' %}
      <label class="visually-hidden" for="form-street_address">Street address{% unless page.required_fields contains 'street_address' %} (optional){% endunless %}:</label>
      <input type="text" id="form-street_address" name="signature[street_address]" class="address {{ fields_class }}" placeholder="Street address{% unless page.required_fields contains 'street_address' %} (optional){% endunless %}" {% if page.required_fields contains 'street_address' %} required{% endif %} />
      {% endif %}

      {% if page.additional_fields contains 'city' %}
      <label class="visually-hidden" for="form-city">City{% unless page.required_fields contains 'city' %} (optional){% endunless %}:</label>
      <input type="text" id="form-city" name="signature[city]" class="city {{ fields_class }}" placeholder="City{% unless page.required_fields contains 'city' %} (optional){% endunless %}" {% if page.required_fields contains 'city' %} required{% endif %} />
      {% endif %}

      <label class="visually-hidden" for="form-zip_code">{% if page.target_country == 'US' %}ZIP{% else %}Post{% endif %} code:</label>
      <input type="text" id="form-zip_code" name="signature[zip_code]" class="zip {{ fields_class }}" placeholder="{% if page.target_country == 'US' %}ZIP{% else %}Post{% endif %} code" required/>

      {% if page.allow_comments %}
      <textarea cols="40" id="form-comments" name="signature[message_to_target]" class="comment" placeholder="Comments" rows="6"></textarea>
      {% endif %}

      <label for="select-country">
        Not in {{ site.data.countries[page.target_country] }}?
      </label>

      <select id="select-country">
        {% for country in site.data.countries %}
        <option value="{{ country[0] }}" {% if country[0] == page.target_country %} selected{% endif %}>
          {{ country[1] }}
        </option>
        {% endfor %}
      </select>

      <input type="hidden" value="US" id="hidden-country"/>
      <input type="hidden" name="utf8" value="✓">
      <input type="hidden" name="authenticity_token" value="0T4Obtb0NSc88GcP+W4S67iTV1B9UhTVWbk6UjKj7+o="/>
      <input type="hidden" name="subscription[sub_group_id]" value="13162">
      <input type="hidden" name="subscription[http_referer]" value="{{ site.url }}{{ page.url }}"/>
      <input type="hidden" name="subscription[source]" value="www"/>
      {% capture tags %}{% if tags and tags != "null" %}[{% for tag in page.tags %}&quot;{{ tag }}&quot;{% unless forloop.last %},{% endunless %}{% endfor %}]{% endif %}{% endcapture %}
      <input type="hidden" name="subscription[tag_list]" value="{{ tags }}"/>
      <input type="submit" name="commit" class="{{ fields_class }}" value="Take action"/>
    </form>

    <label for="opt-in">
      {% if page.opt_in == true %}
      <input type="hidden" name="subscription[group]" value="13162" form="petition-form"/>
      {% else %}
      <input type="checkbox" name="subscription[group]" value="13162" form="petition-form" id="opt-in" checked="checked"/>
      {% endif %}
      <a href="/">Fight for the Future</a>
      will email you with campaign updates.
      (<a href="/privacy">privacy policy</a>)
    </label>

  </section>
  <article class="petition-info">
    {{ content }}
  </article>
</main>

{% capture tweet %}
{% if page.tweet %}
{{ page.tweet }}
{% else %}
{{ site.tweet }}
{% endif %}
{% endcapture %}

<footer class="action-network-footer {{ page.design }}">
  <p class="an-footer-cta">Help us spread the word:</p>
  <section class="share-this-button-links">
    <a class="share-this-fb" href="https://facebook.com/sharer.php?u={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}">
      Share this
    </a>
    <a class="share-this-tw" href="https://twitter.com/share?text={{ tweet | strip_newlines | strip | cgi_escape }}&amp;url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}">
      Tweet this
    </a>
    <a class="share-this-donate" href="https://donate.fightforthefuture.org/?utm_source=share-this-buttons&amp;utm_medium=web&amp;utm_campaign={{ page.title | slugify }}">
      Donate $5
    </a>
  </section>

  <section class="footer-meta-links">
    <a href="/" class="an-footer-logo">
        Fight for the Future
    </a>
    <div class="an-footer-info">
      <p>
        For press inquiries, please contact us at:<br/>
        <a href="tel:+1-978-852-6457">978-852-6457</a>
        or <a href="tel:+1-617-690-9547">617-690-9547</a>
        or <a href="mailto:press@fightforthefuture.org">press@fightforthefuture.org</a>
      </p>
      <p>
        For all other inquiries, contact:<br/>
        <a href="mailto:team@fightforthefuture.org">team@fightforthefuture.org</a>
      </p>
    </div>
  </section>
</footer>
