<!doctype html>
<html>
<head>
  {% include meta.html %}
</head>
<body class="default homepage projects" data-components="homepage">
<div class="mobile-nav">
  <div class="cheeseburger">
    <div class="lines fadeIn"></div>
  </div>
</div>

<header class="main-site">
  <div class="david-by-michelangelo"></div>
  <div class="zoom-out-intro">
    <img src="/img/page/homepage/logo.png" class="logo-large" onload="this.style.opacity = 1;">
    <div class="motto fadeIn">A nonprofit working to expand the internet's power
      for good
    </div>
  </div>
</header>

<nav class="top">
  <a href="/aboutus/">about us</a>
  <a href="/projects">projects</a>
  <a href="/news/">News</a>
  <a href="/press/">press</a>
  <a href="/supporters/">supporters</a>
  <a href="http://shop.fightforthefuture.org/?utm_source=www&amp;utm_medium=web&amp;utm_campaign=headerlinks">store</a>
  <a href="https://donate.fightforthefuture.org/?utm_source=www&amp;utm_medium=web&amp;utm_campaign=headerlinks" class="donate">donate</a>
  <a href="https://www.facebook.com/fightfortheftr" class="facebook" target="_blank"></a>
  <a href="https://twitter.com/fightfortheftr" class="twitter" target="_blank"></a>
</nav>

<section class="below-the-fold">
  <form id="www-homepage" class="signup">
    <h2>Find out about threats to our basic rights.</h2>

    <input name="email" placeholder="Your Email" type="email">
    <button type="submit">SIGN UP</button>

    <div class="privacy">
      We will only email when we have something important or awesome to tell
      you. <a href="/privacy/">Privacy.</a>
    </div>
    <hr/>
  </form>
  <p>
    {{ site.data.homepage.introduction_text }}
  </p>

  <h2>Latest News</h2>

  {% include recent_tweets.html %}
  {% include recommended_posts.html %}
</section>

<section class="feature-content">
  {{ content }}
</section>

{% include fftf-footer.html %}
{% include scripts.html %}
</body>
</html>
