---
layout: core-only
---

<header class="minimalist-sticky-bar">
  <span class="minimalist-fftf-logo">
    Fight for the Future
  </span>
  <ul class="minimalist-share-donate">
    <li class="minimalist-share-links">
      <a href="https://facebook.com/sharer.php?u={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}" class="minimalist-facebook-share">
        facebook
      </a>
      <a href="https://twitter.com/intent/tweet?text={% if page.share.tweet %}{{ page.share.tweet | cgi_escape }}{% else %}{{ site.description | cgi_escape }}{% endif %}&amp;url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&amp;via=fightfortheftr" class="minimalist-twitter-share">
        Twitter
      </a>
    </li>
    <li class="minimalist-donate">
      <a href="https://donate.fightforthefuture.org?amount=5&amp;frequency=annual">
      <span class="hover-heart">
        &#x2665;
      </span>
        Donate $5
      </a>
    </li>
  </ul>
</header>
{{ content }}
{% include an-petitions/share-this-button-links.html %}
{% include an-petitions/an-footer-style-1.html %}
