---
layout: core-only
styles: petitions
---

{% include an-petitions/sticky-bar.html %}

<h1>{{ page.headline }}</h1>

<main class="white-two-column">
  <section class="petition-box">
    <h2>{{ page.petition-title }}</h2>
    <blockquote>
      {{ page.petition-copy | markdownify }}
    </blockquote>
    <figure class="signatures">
      <figcaption class="progress-top">
        <span id="total-sigs">100</span> supporters
      </figcaption>
      <progress id="signatures-progress-bar" value="100" max="400"></progress>
      <figcaption class="progress-bottom" id="sigs-to-go">
        300 needed to reach 400
      </figcaption>
    </figure>
  </section>
  <article>
    {{ content }}
  </article>
</main>

{% include an-petitions/share-this-button-links.html %}
{% include an-petitions/an-footer-style-1.html %}
