.heart-progress-outer() {
  background-color: @blue-850;
  border-radius: 0.4rem;
}

.heart-progress-inner() {
  background-color: #ff3057;
  background-size: 3.5rem 3.7rem, 100%;
  border-radius: 0.5rem;
}

.white-two-column {
  color: @black;

  main& {
    @media screen and (min-width: @large-phone) {
      align-items: flex-start;
      display: flex;
      flex-direction: row-reverse;
      margin-bottom: 3rem;
      margin-top: 2rem;
      padding: 0 1rem;
    }

    a {
      color: @blue-850;
      font-weight: bold;

      &:link, &:visited {
        text-decoration: none;
      }

      &:hover, &:active, &:focus {
        text-decoration: underline;
      }
    }

    h2 {
      margin-bottom: 1em;

      a {
        &:link, &:visited {
          text-decoration: underline;
        }
      }
    }
  }

  img {
    display: block;
  }

  h1 {
    color: @blue-850;
  }

  strong {
    font-weight: bold;
  }

  .signatures {
    flex-direction: column;
    padding: 0 1.5rem;
  }

  .progress-top, .progress-bottom {
    width: 100%;
  }

  .progress-top {
    text-align: left;
    color: #c9cae0;
  }

  .progress-bottom {
    order: 4;
    text-align: right;
    color: #c9cae0;
  }

  progress {
    background-color: @blue-850;
    border-radius: 3rem;
    overflow: hidden;
    padding: 0.1rem;
    height: 10px;
    vertical-align: middle;
    &::-webkit-progress-value {
      .heart-progress-inner();
    }
    &::-moz-progress-bar {
      .heart-progress-inner();
    }
    &::-ms-fill {
      .heart-progress-inner();
    }
    &::-webkit-progress-bar {
      .heart-progress-outer();
    }
  }

  .petition-box {
    margin: 2.5rem 1rem;

    @media screen and (min-width: @large-phone) {
      margin: 0 auto 2.5rem;
      min-width: 33rem;
      width: 34rem;
    }
  }

  .petition-text {
    padding: 1.5rem 1.5rem 0;
  }

  .petition-form {
    background-color: fade(@black, 30%);
    opacity: 1;
    padding: 2rem 1.5rem 5.2rem;
    position: relative;
    transition: opacity 250ms, visibility 0ms 300ms;
    visibility: visible;

    &.submitted {
      opacity: 0;
      visibility: hidden;
    }
  }

  .two-column-field-sizes();

  [type="submit"] {
    height: 6rem;
    line-height: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    font-weight: 900;

    &:active {
      bottom: -1px;
    }
  }

  .petition-info {
    @media screen and (min-width: @large-phone) {
      padding: 0 2rem 0 0;
    }
  }

   [for="opt-in"] {
     background-color: white;
     color: @blue-800;
     padding: 2rem 5px;
  }

  .an-footer-cta {
    display: none;
  }
}

  .petition blockquote p{
     font-size: 0.8em;
     color: #ecedfb;
    line-height: 2rem;
  }
 
   main.white-two-column h2{
     margin-bottom: 0.5em;
   }
 
   .white-two-column [for="opt-in"]{
     color: #8889a0;
   }
 
   .petition-info h2{
     font-weight: 400;
   }
 
   .petition [type=email], .petition [type=text]{
     padding: 1.5rem;
     font-size: 18px;
   }
 
 input[placeholder], [placeholder], *[placeholder] {
   color: #4f4f69 !important;
 }
 
 input::-webkit-input-placeholder {
    color:  #4f4f69 !important;
 }
 
 input:-moz-placeholder { /* Firefox 18- */
    color:  #4f4f69 !important;  
 }
 
 input::-moz-placeholder {  /* Firefox 19+ */
    color:  #4f4f69 !important;  
 }
 
 input:-ms-input-placeholder {  
    color:  #4f4f69 !important;  
 }
 
 main.white-two-column{
   margin-bottom: 9rem;
 }
 
 main.white-two-column a{
   color: #2054b3;
   font-weight: 600;
 }
 
 .petition p{
   line-height: 2.9rem;
   font-size: 2rem;
 }
 .stickybar-take-action{
   font-weight: 900;
   font-size: 2rem;
 }
   .an-footer-info p{
     line-height: 2.2rem;
     font-size: 1.7rem;
   }
 
   .share-this-button-links a{
     font-weight: 600;
     letter-spacing: 0.09rem;
     font-size: 2rem;
   }
 
   .white-two-column img{
     -webkit-box-shadow: 0px 14px 40px -22px rgba(139,139,139,1);
    -moz-box-shadow: 0px 14px 40px -22px rgba(139,139,139,1);
     box-shadow: 0px 14px 40px -22px rgba(139,139,139,1);
  }
 
 .white-two-column .petition-form{
   -webkit-box-shadow: 0px 14px 40px -7px rgba(139,139,139,0.53);
 -moz-box-shadow: 0px 14px 40px -7px rgba(139,139,139,0.53);
 box-shadow: 0px 14px 40px -7px rgba(139,139,139,0.53);
 }
 
  .white-two-column .petition-text h2{
   font-size: 2.2rem;
   font-weight: 600;
   }

