body.projects {
  background-color: lighten(#16212a, 0.1%);
  color: @white;

  hr {
    display: none;
  }

  div.content {
    background: transparent;
  }

  div.classic {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem 0rem 3rem 0rem;
    max-width: @large-tablet;

    @media screen and (min-width: @small-phone) {
      align-items: stretch;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    h2 {
      max-width: 100%;
      width: 100%;
      color: white;
      line-height: 1.2;
      font-size: 3.2rem;
      font-weight: lighter;
      padding-left: 1.2rem;
      margin: 1.5rem 0 2rem 0;
    }

    a {
      &:link, &:visited {
        color: #23d79e;
      }
      &:hover, &:active, &:focus {
        color: lighten(#23d79e, 20%);
      }
    }

    h2 a { text-decoration: none; }
  }

  dl {
    background-color: #11191f;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(33, 49, 62, 1);
    cursor: pointer;
    line-height: 1.3;
    margin: 0.6rem auto;
    padding: 1rem;
    position: relative;
    transition: background-color 0.4s, transform 0.4s;
    width: 22.6rem;

    @media screen and (min-width: @small-phone) {
      margin: .5rem;
    }

    &:not(.other) {
      &:hover {
        background-color: #2f404e;
        position: relative;
        z-index: 9;
        transform: scale(1.05);
      }
    }

    &.other {
      cursor: default;

      dt {
        height: auto;

        &::before {
          content: none;
        }
      }

      img {
        height: 4.8rem;
        width: 20rem;
      }

      ul {
        margin-bottom: 0px;

        li {
          list-style-type: none;
          margin-bottom: 0px;
          margin-left: 0px;
          font-size: inherit;
        }
      }
    }

    &.fire {
      &::after {
        background: url('/img/legacy/fire.png') no-repeat;
        content: ' ';
        height: 4.8rem;
        position: absolute;
        right: -.8rem;
        top: -.8rem;
        width: 4.8rem;
        z-index: 8;
      }
    }
  }

  dt {
    width: 206px;
    height: 127px;
    position: relative;

    &::before {
      bottom: 0;
      content: ' ';
      left: -1px;
      position: absolute;
      top: 0;
      width: 208px;
      height: 129px;
      background: url('/img/page/homepage/project_frame.png');
    }

    img {
      width: 100%;
      border-radius: 4px;
    }
  }

  dd {
    padding: 1.2rem 1.2rem;

    h3 {
      font-size: 1.4rem;
      font-weight: bold;
      margin-bottom: 0.6rem;

      a {
        color: @white;
        text-decoration: none;
      }
    }

    p {
      font-size: 14px;
      color: #e4edf5;
    }
  }

  ul {
    width: 100%;
  }

  .press {
    color: #999999;
    display: flex;
    flex-wrap: wrap;

    a {
      &:link, &:visited {
        color: #999999;
        text-decoration: none;
      }
    }

    li {
      max-width: 30ch;
      margin: 0 auto 4rem;
    }

    blockquote {
      quotes: '“' '”';
      color: #7e7e7e;

      &::before {
        content: open-quote;
      }

      &::after {
        content: close-quote;
      }

      &::before, &::after {
        font-family: cursive;
        font-size: 3rem;
        line-height: 0;
      }

      p {
        display: inline;
        font-family: @body-font;
        font-weight: 100;
      }
    }

    p {
      margin-top: 1.4rem;
      font-size: 1.8rem;
      font-weight: 600;
      color: #7e7e7e;
      font-family: @serif-font;
    }

    img {
      vertical-align: middle;
      margin-right: 2px;
    }

    em {
      color: #777;
    }
  }
}
